<div class="container-fluid landing-intro-container">
  <div class="container-fluid landing-intro-container-content">
    <div class="row">
      <div class="col landing-intro-left">
        <img src="../assets/sankalp-face.png" class="landing-intro-left-sankalp-face">
      </div>
      <div class="col landing-intro-right">
        <img src="../assets/sankalp-name.png" alt="" class="landing-intro-right-sankalp-name">
        <div class="container landing-intro-right-description">
          <span class="landing-intro-right-line">------------</span>a multi-disciplinary Product Designer, passionately building unique web & app experiences from concept to launch, for over 8+ years.
        </div>
        <div class="landing-intro-right-currently-label">
          CURRENTLY
        </div>
        <div class="landing-intro-right-currently-container">
          <div class="landing-intro-right-currently-container-items">
            <img src="../assets/emojis-art.png" alt="" class="landing-intro-right-currently-container-items-icons">Senior Product Designer @<a href="http://sellercrowd.com" target="_blank" class="landing-intro-SC-link">Sellercrowd.com</a>
          </div>
          <div class="landing-intro-right-currently-container-items">
            <img src="../assets/emojis-home.png" alt="" class="landing-intro-right-currently-container-items-icons" style="position: relative; top:-3px;">Remotely - Bangalore, India
          </div>
        </div>
        <div class="landing-intro-right-currently-new-role">
          <span class="new-role-dot">&bull;</span> Open to new opportunities
        </div>
      </div>
    </div>
    <div class="row landing-intro-publications-container">
      <div class="col landing-intro-works-featured-label">
        WORKS FEATURED IN
      </div>
      <div class="landing-intro-publications-logo-container">
        <img src="../assets/publications/logo-elite-daily.png" alt="" class="landing-intro-publications-logo">
      </div>
      <div class="landing-intro-publications-logo-container">
        <img src="../assets/publications/logo-yahoo.png" alt="" class="landing-intro-publications-logo">
      </div>
      <div class="landing-intro-publications-logo-container">
        <img src="../assets/publications/logo-discovery-channel.png" alt="" class="landing-intro-publications-logo">
      </div>
      <div class="landing-intro-publications-logo-container">
        <img src="../assets/publications/logo-huffpost.png" alt="" class="landing-intro-publications-logo">
      </div>
      <div class="landing-intro-publications-logo-container">
        <img src="../assets/publications/logo-bbc-radio.png" alt="" class="landing-intro-publications-logo">
      </div>
      <div class="landing-intro-publications-logo-container">
        <img src="../assets/publications/logo-mashable.png" alt="" class="landing-intro-publications-logo">
      </div>
      <div class="landing-intro-publications-logo-container">
        <img src="../assets/publications/logo-yankodesign.png" alt="" class="landing-intro-publications-logo">
      </div>
    </div>
    <!-- <div class='container-fluid'>
      <owl-carousel [options]="SlideOptions" [options]="customOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let img of Images">
          <div style="">
            <img style="width:100%;" src={{img}}>
          </div>
        </div>
      </owl-carousel>
    </div> -->
  </div>
</div>
