<div class="container-fluid common-page-container landing-page-section-containers testimonials-page-container" style="background-image: url(../assets/testimonials/testimonial-back.png);">
    <div class="container-fluid content-container">
        <component-testimonials-page-header>
        </component-testimonials-page-header>
        <div class="row">
            <component-landing-page-testimonials-section-card></component-landing-page-testimonials-section-card>
        </div>
    </div>
</div>