.custom-grid-content-container-tile-image {
  height: 432px;
  border-radius: 12px;
}

.movies-page-card-container-meta-data-movie-type-movie,
.movies-page-card-container-meta-data-movie-type-tv-show {
  margin-top: 4px;
  margin-bottom: 4px;
}

.movies-page-card-container-meta-data-movie-type-movie {
  color: var(--color-purple-2-default);
  background: var(--color-purple-2-light-default);
}

.movies-page-card-container-meta-data-movie-type-tv-show {
  color: var(--color-peach-default);
  background: var(--color-peach-light-default);
}

.movies-page-card-container-meta-data-movie-type-movie > .fa-solid,
.movies-page-card-container-meta-data-movie-type-tv-show > .fa-solid {
  padding-right: 4px;
}

.currently-watching {
  color: var(--color-success-green-default);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 2px;
  padding-top: 0px;
  cursor: progress;
}

.currently-watching > span {
  padding-left: 4px;
}

.custom-grid-content-container-tile-icons {
  top: -1px;
}

.fa-check {
  top: 0px;
  font-size: 15px;
}

/* .fa-play {
  left: 1px;
  font-size: 13px;
} */
/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* All devices more than 1441px devices */
@media (min-width: 1441px) {
  .custom-grid-content-container-tile-image {
    height: 360px;
  }
}

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
}

/* Only Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 992px) {
  .custom-grid-content-container-tile-image {
    height: 420px;
  }
}

/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 768px) {
}

/* Only Small devices (landscape phones) */
@media (min-width: 575px) and (max-width: 768px) {
  .custom-grid-content-container-tile-image {
    height: 292px;
  }
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 575px) {
}

/* Only X-Small devices (portrait phones) but below 375px */
@media (min-width: 440px) and (max-width: 575px) {
  .custom-grid-content-container-tile-image {
    height: 280px;
  }
}

/* Only X-Small devices (portrait phones) but below 375px */
@media (min-width: 0px) and (max-width: 440px) {
  .custom-grid-content-container-tile-image {
    height: 240px;
  }
}
