<div class="custom-grid-content-container-tile">
    <div class="custom-grid-content-container-tile-image movies" [ngStyle]="{'background-image': 'url(\''+ data.MoviesImage + '\')'}"></div>
    <div class="row">
        <div class="col-auto custom-grid-content-container-tile-name">
            {{data.MoviesName}}
        </div>
    </div>
    <div class="custom-grid-content-container-tile-description">
        {{data.MoviesDescription}}
    </div>
    <div [ngStyle]="{'display': data.MoviesCurrentlyWatching}" class="custom-grid-content-container-tile-meta-data">
        <i class="fa-solid fa-check custom-grid-content-container-tile-icons"></i>
        <span class="custom-grid-content-container-tile-icons-label">Currently watching</span>
    </div>
    <div [ngStyle]="{'display': data.MoviesWatched}" class="custom-grid-content-container-tile-meta-data">
        <i class="fa-solid fa-check custom-grid-content-container-tile-icons"></i>
        <span class="custom-grid-content-container-tile-icons-label">Watched:</span>
        {{data.MoviesWatchedDate}}
    </div>
    <div class="custom-grid-content-container-tile-meta-data">
        <i class="fa-regular fa-clock custom-grid-content-container-tile-icons"></i>
        <span class="custom-grid-content-container-tile-icons-label">Released:</span>
        {{data.MoviesReleasedDate}}
    </div>
</div>