<div class="custom-grid-content-container-tile">
    <div class="custom-grid-content-container-tile-image movies" [ngStyle]="{'background-image': 'url(\''+ MoviesImage + '\')'}"></div>
    <div class="row">
        <div class="col-auto custom-grid-content-container-tile-name">
            {{MoviesName}}
        </div>
    </div>
    <div class="custom-grid-content-container-tile-description">
        {{MoviesDescription}}
    </div>
    <div class="d-flex custom-grid-content-container-tile-meta-data first">
        <div class="custom-grid-content-container-tile-meta-data">
            <i class="fa-solid fa-check custom-grid-content-container-tile-icons"></i>
        </div>
        <div class="custom-grid-content-container-tile-meta-data">
            <span class="custom-grid-content-container-tile-icons-label">Watched:</span>
            {{MoviesWatchedDate}}
        </div>
    </div>
    <div class="d-flex custom-grid-content-container-tile-meta-data first">
        <div class="custom-grid-content-container-tile-meta-data">
            <i class="fa-regular fa-clock custom-grid-content-container-tile-icons"></i>
        </div>
        <div class="custom-grid-content-container-tile-meta-data">
            <span class="custom-grid-content-container-tile-icons-label">Released:</span>
            {{MoviesReleasedDate}}
        </div>
    </div>
</div>