<div class="row custom-grid-content-container-tile sort-as-list">
    <div class="col-lg-9">
        <div class="custom-grid-content-container-tile-image photos sort-as-list" [ngStyle]="{'background-image': 'url(\''+ PhotoImage + '\')'}"></div>
    </div>
    <div class="col-lg-3">
        <div class="col-auto custom-grid-content-container-tile-name dark">
            {{PhotoName}}
        </div>
        <div class="custom-grid-content-container-tile-description dark">
            {{PhotoDescription}}
        </div>
        <div class="custom-grid-content-container-tile-meta-data dark first">
            <i class="bi bi-geo-alt-fill custom-grid-content-container-tile-icons dark"></i>
            {{PhotoLocation}}
        </div>
        <div class="custom-grid-content-container-tile-meta-data dark">
            <i class="bi bi-camera-fill custom-grid-content-container-tile-icons dark"></i>
            {{PhotoDateTaken}}
        </div>
    </div>
</div>