.navbar-container-parent {
  width: 100%;
}

.navbar {
  padding: 12px;
  margin-top: 16px;
  width: 90%;
  background: var(--color-light-nav-background);
  backdrop-filter: blur(16px);
  box-shadow: var(--box-shadow-light-nav);
  border-radius: 12px;
  line-height: 24px;
  z-index: 1000;
  max-width: 1200px;
  border: 1px solid var(--color-light-paper);
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  padding: 0px;
}

.navbar-brand-logo {
  font-size: 24px;
  padding: 8px 16px;
  color: var(--color-light-nav-button-text-default);
  border-radius: 8px;
}

.navbar-brand-logo:hover {
  color: var(--color-light-nav-button-text-hover);
  background: var(--color-light-nav-button-back-hover);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-brand-logo:active {
  color: var(--color-light-nav-button-text-active);
  background: var(--color-light-nav-button-back-active);
}

.navbar-brand-logo-label {
  visibility: hidden;
  top: -1px;
  position: relative;
  opacity: 0;
  font-family: SS;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  margin-left: 8px;
}

.navbar-brand-logo:hover .navbar-brand-logo-label {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.nav-link {
  color: var(--color-light-nav-button-text-default);
  margin-left: 16px;
  border-radius: 8px;
  padding: 8px 16px !important;
  background: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--color-light-nav-button-text-hover) !important;
  background: var(--color-light-nav-button-back-hover);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-link:active {
  color: var(--color-light-nav-button-text-active);
  background: var(--color-light-nav-button-back-active);
}

.bi-twitter,
.bi-chat-square-quote-fill {
  font-size: 20px;
}

.bi-twitter {
  margin-right: 4px;
}

.bi-chat-square-quote-fill {
  margin-right: 4px;
  top: 1px;
  position: relative;
}

.bi-camera-fill {
  font-size: 20px;
  margin-right: 5px;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
  .navbar-container-parent {
    padding: 0px 16px;
  }

  .navbar {
    width: 100%;
    padding: 8px 8px;
  }

  .navbar-brand-logo-label {
    line-height: 22px;
  }

  .navbar-toggler {
    padding: 8px 16px;
    border-radius: 8px;
  }

  .navbar-toggler:hover {
    color: var(--color-light-nav-button-text-hover);
    background: var(--color-light-nav-button-back-hover);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .bi-list-nested {
    top: 1px;
    position: relative;
  }

  .bi-list-nested:before {
    font-size: 24px;
    color: var(--color-light-nav-button-text-default);
    margin-right: 8px;
    position: relative;
    top: 0px;
  }

  .navbar-toggler-label {
    font-family: SS;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-light-nav-button-text-default);
    position: relative;
    top: -3px;
  }

  .navbar-toggler:hover .navbar-toggler-label {
    color: var(--color-light-nav-button-text-hover);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navbar-toggler:hover .bi-list-nested:before {
    color: var(--color-light-nav-button-text-hover);
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navbar-collapse {
    padding: 12px 8px 8px 8px;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    color: var(--color-grey-999) !important;
    margin-left: 0px;
    padding: 12px !important;
  }
}

/* Only Medium devices (tablets) */
@media (min-width: 767px) and (max-width: 992px) {
}
/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 768px) {
}
/* Only Small devices (landscape phones) */
@media (min-width: 577px) and (max-width: 768px) {
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 576px) {
}
