<div class="navbar-container-parent container-fluid mx-auto">
  <nav class="navbar navbar-expand-lg container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <i class="bi bi-house-door-fill navbar-brand-logo">
          <span class="navbar-brand-logo-label align-middle">Home</span>
        </i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="bi bi-list-nested">
          <span class="navbar-toggler-label">
            Menu
          </span>
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link gap" routerLink="/buildinginpublic">
            #BuildingInPublic
          </a>
          <a class="nav-link gap" routerLink="/projects">
            <i class="nav-link-icons fas fa-pencil-ruler"></i>
            Projects
          </a>
          <a class="nav-link gap" routerLink="/testimonials">
            <i class="nav-link-icons fa-solid fa-thumbs-up"></i>
            Testimonials
          </a>
          <a class="nav-link gap" routerLink="/photos">
            <i class="nav-link-icons bi bi-camera-fill"></i>
            Photos
          </a>
          <a class="nav-link gap" href="http://blog.sankalpsinha.com" target="_blank">
            <i class="nav-link-icons bi bi-chat-square-quote-fill"></i>
            Blog
          </a>
          <a class="nav-link gap" href="http://twitter.com/sankalpdomore" target="_blank">
            <i class="nav-link-icons bi bi-twitter"></i>
            Contact
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>