.projects-card-container-right {
  padding-left: 64px;
  padding-top: 4px;
}

.projects-card-container-image {
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.projects-card-container-right-title-description {
  margin-bottom: 8px;
}

.projects-card-title {
  font-family: "SS";
  font-weight: 600;
  font-size: 32px;
  line-height: normal;
}

.projects-card-title-right-line {
  font-family: "SS";
  font-size: 20px;
  font-weight: 400;
  line-height: 0px;
  color: var(--color-grey-aaa);
  letter-spacing: -2px;
  padding-left: 8px;
  padding-right: 12px;
  position: relative;
  top: -4px;
}

.projects-card-description {
  font-family: "SS";
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grey-aaa);
}

.projects-card-container-right-meta-data {
  margin-bottom: 8px;
}

.projects-card-container-right-meta-data-icons {
  width: 14px;
  top: -2px;
  position: relative;
  margin-right: 8px;
}

.projects-card-container-right-meta-data-text {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  color: var(--color-grey-777);
}
