<div class="row projects-card-container">
    <div class="col-5 projects-card-container-left">
        <div class="projects-card-container-image" [ngStyle]="{'background-image': 'url(\''+ data.projectImage + '\')'}">
        </div>
    </div>
    <div class="col-7 projects-card-container-right">
        <div class="col-12">
            <div class="projects-card-container-right-title-description">
                <span class="projects-card-title">{{data.projectTitle}}</span>
                <span class="projects-card-title-right-line">------</span>
                <span class="projects-card-description">{{data.projectDescription}}</span>
            </div>
            <div class="">
                <div class="d-flex projects-card-container-right-meta-data">
                    <div class="">
                        <img src="../assets/projects/icon-time.svg" alt="" class="projects-card-container-right-meta-data-icons icon-project-date">
                    </div>
                    <div class="projects-card-container-right-meta-data-text">
                        {{data.projectDate}}
                    </div>
                </div>
                <div class="d-flex projects-card-container-right-meta-data">
                    <div class="">
                        <img src="../assets/projects/icon-title.svg" alt="" class="projects-card-container-right-meta-data-icons icon-project-title">
                    </div>
                    <div class="projects-card-container-right-meta-data-text">
                        {{data.projectWorkTitle}}
                    </div>
                </div>
                <div *ngFor="let role of data.projectRoles" class="d-flex projects-card-container-right-meta-data">
                    <div class="">
                        <img src="../assets/projects/icon-roles.svg" alt="" class="projects-card-container-right-meta-data-icons icon-project-role">
                    </div>
                    <div class="projects-card-container-right-meta-data-text">
                        {{role.description}}
                    </div>
                </div>
                <div class="projects-card-container-right-meta-data-random-fact-pusher">
                    <div class="d-flex projects-card-container-right-meta-data-random-fact-container">
                        <div class="">
                            <img src="../assets/projects/emoji-plane.png" alt="" class="projects-card-container-right-meta-data-emoji emoji-random-fact">
                        </div>
                        <div class="projects-card-container-right-meta-data-random-fact-text">
                            <span class="projects-card-container-right-meta-data-random-fact-label">Random Fact:</span>{{data.projectRandomFact}}
                        </div>
                    </div>
                </div>
                <div class="d-flex projects-card-container-right-meta-data">
                    <div class="">
                        <img src="../assets/projects/icon-team.svg" alt="" class="projects-card-container-right-meta-data-icons icon-project-role">
                    </div>
                    <div class="projects-card-container-right-meta-data-text">
                        <span class="team-size-label">{{data.projectTeamSizePMs}}</span>
                        <span class="team-size-label">{{data.projectTeamSizeDevs}}</span>
                        <span class="team-size-label">{{data.projectTeamSizeQAs}}</span>
                        <span class="team-size-label">{{data.projectTeamSizeDesigners}}</span>
                    </div>
                </div>
                <a href='http://{{data.projectUrl}}' target="_blank">
                    <div class="projects-card-container-right-meta-data-url">
                        {{data.projectUrlLabel}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>