<div class="container-fluid d-lg-none d-xl-block d-flex align-items-center"
    style="background: #ccc; padding-left: 20px; padding-right: 20px; height: 100vh">
    <div class="">
        <h3 class="common-section-header-h3" style="color: #fff; text-align: center; margin-top: -50px;">
            Best viewed on desktop!
        </h3>
        <div class="common-body-text-16-regular" style="color: #fff;  text-align: center;">
            I am building this <a href="">portfolio website incrementally</a> and haven't made it responsive yet. Right
            now, the best way to view the site is on a bigger screen.
        </div>

    </div>
</div>