<div class="container-fluid mobiletempmessage-container d-flex align-items-center d-block d-lg-none">
    <div class="">
        <h3 class="common-section-header-h3 mobiletempmessage-container-header">
            Best viewed on desktop!
        </h3>
        <div class="common-body-text-16-regular mobiletempmessage-container-body">
            I am building this portfolio website incrementally and haven't made a few sections responsive yet. So the best way to view this section is on a bigger screen, preferably on your laptop or home computer.
        </div>
    </div>
</div>