<div class="container-fluid d-flex align-items-center d-block d-lg-none d-xl-none d-xxl-none"
    style="background: #333; padding-left: 30px; padding-right: 30px; height: 100vh">
    <div class="">
        <h3 class="common-section-header-h3" style="color: #fff; text-align: center; margin-top: -50px;">
            Best viewed on desktop!
        </h3>
        <div class="common-body-text-16-regular" style="color: #fff;  text-align: center;">
            I am building this portfolio website incrementally and haven't made it responsive yet. Right
            now, the best way to view the site is on a bigger screen.
        </div>
    </div>
</div>