<div class="container-fluid footer-container dark">
    <div class="container-fluid content-container text-center">
        <div class="row footer-container-row">
            <div class="footer-container-column">
                <div class="col-12 footer-container-column-header dark">
                    Current projects
                </div>
                <ul class="footer-container-column-ul">
                    <li class="footer-container-column-items dark">
                        <a href="https://visit.page" target="_blank" class="footer-container-column-items-links dark">
                            Visit.Page
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a href="https://buildwithframer.com" target="_blank" class="footer-container-column-items-links dark">
                            BuildwithFramer
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a href="https://twitter.com/sankalpdomore/status/1356797576129908739" target="_blank" class="footer-container-column-items-links dark">
                            My personal website
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a href="https://blog.sankalpsinha.com/becoming-consistent-in-writing-this-year/" target="_blank" class="footer-container-column-items-links dark">
                            Writing 1 blog / month
                        </a>
                    </li>
                    <div class="d-none d-sm-block">
                        <div class="footer-container-column-items-separator">&nbsp;</div>
                        <!-- <li class="footer-container-column-items">
                            <a href="http://linkedin.com/in/hellosankalpsinha/" target="_blank" style="text-decoration: none;">
                                <div class="footer-container-column-items footer-new-role">
                                    <span class="footer-new-role blobs-container">
                                        <span class="footer-new-role blob green"></span>
                                    </span>Open to new opportunities
                                </div>
                            </a>
                        </li> -->
                        <li class="footer-container-column-items dark">
                            © Sankalp Sinha
                        </li>
                    </div>
                </ul>
            </div>
            <!-- Site links -->
            <div class="footer-container-column">
                <div class="col-12 footer-container-column-header dark">
                    Jump to
                </div>
                <ul class="footer-container-column-ul">
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" routerLink="/">
                            <i class="footer-container-column-items-links-icons dark bi bi-house-door-fill"></i>
                            Home
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" routerLink="/projects">
                            <i class="footer-container-column-items-links-icons dark fas fa-pencil-ruler"></i>
                            Projects
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" routerLink="/testimonials">
                            <i class="footer-container-column-items-links-icons dark fa-solid fa-thumbs-up"></i>
                            Testimonials
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" href="http://blog.sankalpsinha.com" target="_blank">
                            <i class="footer-container-column-items-links-icons dark bi bi-chat-square-quote-fill"></i>
                            Blog
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" routerLink="/buildinginpublic">
                            <i class="footer-container-column-items-links-icons dark fa-solid fa-hashtag"></i>
                            BuildingInPublic
                        </a>
                    </li>
                </ul>
            </div>
            <!-- More about me -->
            <div class="footer-container-column">
                <div class="col-12 footer-container-column-header dark">
                    More about me
                </div>
                <ul class="footer-container-column-ul">
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" routerLink="/photos">
                            <i class="footer-container-column-items-links-icons dark bi bi-camera-fill"></i>
                            Photos
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" routerLink="/movies">
                            <i class="footer-container-column-items-links-icons dark bi bi-collection-play-fill"></i>
                            Movies & Shows
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" routerLink="/books">
                            <i class="footer-container-column-items-links-icons dark fa-solid fa-book-open"></i>
                            Books
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Social links -->
            <div class="footer-container-column">
                <div class="col-12 footer-container-column-header dark">
                    Reach out
                </div>
                <ul class="footer-container-column-ul">
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" href="https://twitter.com/intent/user?screen_name=sankalpdomore" target="_blank">
                            <i class="footer-container-column-items-links-icons dark bi bi-twitter"></i>
                            Twitter
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" href="http://linkedin.com/in/hellosankalpsinha/" target="_blank">
                            <i class="footer-container-column-items-links-icons dark bi bi-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a href="mailto:hello@sankalpsinha.com?subject=Great website!&body=Hey Sankalp, reaching out to..." class="footer-container-column-items-links dark" target="_blank">
                            <i class="footer-container-column-items-links-icons dark fa-solid fa-envelope"></i>
                            Email
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" href="https://twitter.com/intent/user?screen_name=sankalpdomore" target="_blank">
                            <i class="footer-container-column-items-links-icons dark bi bi-twitter"></i>
                            Send feedback
                        </a>
                    </li>
                    <li class="footer-container-column-items dark">
                        <a class="footer-container-column-items-links dark" (click)="onClickGoToTop()">
                            <i class="footer-container-column-items-links-icons dark fa-solid fa-angle-up"></i>
                            To top
                        </a>
                    </li>
                    <div class="d-block d-sm-none">
                        <div class="footer-container-column-items-separator">&nbsp;</div>
                        <!-- <li class="footer-container-column-items">
                            <a href="http://linkedin.com/in/hellosankalpsinha/" target="_blank" style="text-decoration: none;">
                                <div class="footer-container-column-items footer-new-role">
                                    <span class="footer-new-role blobs-container">
                                        <span class="footer-new-role blob green"></span>
                                    </span>Open to new opportunities
                                </div>
                            </a>
                        </li> -->
                        <li class="footer-container-column-items dark">
                            © Sankalp Sinha
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="footer-container-content-separator">
            <img src="../assets/footer/separator.svg" alt="" class="">
        </div>
        <div class="footer-container-content-quote dark">
            "Do it with all your heart, or don't do it at all." ✨
            <br>
            Wireframed, designed, prototyped, and hand-coded by Sankalp with extreme love, care, and passion for design.
        </div>
    </div>
</div>