.footer-container {
  padding: 16px 16px 20px 16px;
  background-color: var(--color-black-100);
  border-top: 1px solid var(--color-grey-333);
}

.footer-container-content {
  font-family: SS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-grey-666);
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
}

/* Only Medium devices (tablets) */
@media (min-width: 767px) and (max-width: 992px) {
}
/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 767px) {
}
/* Only Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 768px) {
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 575px) {
  .footer-container-content {
    line-height: 18px;
    padding: 0px;
  }
}
