<style>
    @media (min-width: 0px) and (max-width: 991px) {
        .footer-container-content-display {
            display: block !important;
        }
    }
</style>
<div class="container-fluid footer-container">
    <div class="container-fluid footer-container-content">
        <div class="row">
            <div class="footer-container-content-display d-flex justify-content-between">
                <div class="footer-container-column">
                    <div class="col-12 footer-container-column-items">
                        © Sankalpsinha.com
                    </div>
                </div>
                <div class="footer-container-column">
                    <div class="col-12 col-12 footer-container-column-header">
                        Current projects
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a href="https://visit.page" target="_blank" class="footer-container-column-items-links">
                            Visit.Page
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a href="https://buildwithframer.com" target="_blank" class="footer-container-column-items-links">
                            BuildwithFramer
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a href="https://twitter.com/sankalpdomore/status/1356797576129908739" target="_blank" class="footer-container-column-items-links">
                            My personal site
                        </a>
                    </div>
                </div>
                <div class="footer-container-column">
                    <div class="col-12 col-12 footer-container-column-header">
                        Reach out
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" routerLink="/projects">
                            <i class="footer-container-column-items-links-icons fas fa-pencil-ruler"></i>
                            Projects
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" routerLink="/testimonials">
                            <i class="footer-container-column-items-links-icons fa-solid fa-thumbs-up"></i>
                            Testimonials
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" routerLink="/photos">
                            <i class="footer-container-column-items-links-icons bi bi-camera-fill"></i>
                            Photos
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" href="http://blog.sankalpsinha.com" target="_blank">
                            <i class="footer-container-column-items-links-icons bi bi-chat-square-quote-fill"></i>
                            Blog
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" routerLink="/buildinginpublic">
                            #BuildingInPublic
                        </a>
                    </div>
                </div>
                <div class="footer-container-column">
                    <div class="col-12 col-12 footer-container-column-header">
                        Header
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" href="https://twitter.com/intent/user?screen_name=sankalpdomore" target="_blank">
                            <i class="footer-container-column-items-links-icons bi bi-twitter"></i>
                            Twitter
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" href="http://linkedin.com/in/hellosankalpsinha/" target="_blank">
                            <i class="footer-container-column-items-links-icons bi bi-linkedin"></i>
                            LinkedIn
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a href="mailto:hello@sankalpsinha.com?subject=Great website!&body=Hey Sankalp, reaching out to..." class="footer-container-column-items-links" target="_blank">
                            <i class="footer-container-column-items-links-icons fa-solid fa-envelope"></i>
                            Email
                        </a>
                    </div>
                    <div class="col-12 footer-container-column-items">
                        <a class="footer-container-column-items-links" (click)="onClickGoToTop()">
                            <i class="footer-container-column-items-links-icons fa-solid fa-angle-up"></i>
                            To top&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>