<div class="container-fluid common-page-container dark landing-page-section-containers" style="background-image: url(../assets/testimonials/testimonial-back.png);">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1 dark landing-page-sections-common-page-header-h1 with-subheader">
            If words can speak louder than actions?
        </h1>
        <div class="common-page-sub-header dark landing-page-sections-common-page-sub-header d-none d-lg-block">
            I’ve been fortunate enough to work with some really smart, humble, kind, and genuine human beings. Not only <br>I enjoyed working with them; their work & words of wisdom have genuinely impacted my professional & personal life. <br>I feel a comfort to know that they are now my friends more than ex-colleagues, and have trusted me enough to say <br>decently good things about me. Here are a few testimonials from people I’ve worked with:
        </div>
        <div class="common-page-sub-header dark landing-page-sections-common-page-sub-header d-block d-lg-none">
            I’ve been fortunate enough to work with some really smart, humble, kind, and genuine human beings. I feel a comfort to know that they are now my friends more than ex-colleagues, & have trusted me enough to say decently good things about me. Here are a few of them:
        </div>
        <div class="row">
            <component-testimonials-page-cards-half></component-testimonials-page-cards-half>
        </div>
        <a href="http://sankalpsinha.com/testimonials" class="link-remove-underline">
            <div class="see-more-link-dark">
                Read all testimonials <i class="fa-solid fa-arrow-right"></i>
            </div>
        </a>
    </div>
</div>