<component-navigation-dark></component-navigation-dark>
<div class="container-fluid common-page-container dark">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1 dark with-subheader">
            Stuff I've watched
        </h1>
        <div class="common-page-sub-header dark d-none d-lg-block">
            Movies, TV shows, and documentories, have always been a doorway to creative thinking for me. Seeing how directors & artists<br>around the world can percieve something so differently and creatively has always been inspiring for me as a creator. That's why I love watching movies, TV shows, or any other kind of media. This page is an attempt to capture everything I've watched so far.
        </div>
        <div class="common-page-sub-header dark d-block d-lg-none">
            Movies, TV shows, and documentories, have always been a doorway to creative thinking for me. Seeing how directors & artists around the world can percieve something so differently and creatively has always been inspiring for me as a creator. That's why I love watching movies, TV shows, or any other kind of media. This page is an attempt to capture everything I've watched so far.
        </div>
        <div class="row">
            <div *ngFor="let item of data" class="content-grid-container-tile-row col-vlg-3 col-lg-4 col-md-4 col-sm-4 col-6">
                <component-movies-page-tile MoviesImage={{item.MoviesImage}} MoviesName={{item.MoviesName}} MoviesDescription={{item.MoviesDescription}} MoviesReleasedDate={{item.MoviesReleasedDate}} MoviesWatchedDate={{item.MoviesWatchedDate}}></component-movies-page-tile>
            </div>
        </div>
    </div>
</div>
<component-footer-dark></component-footer-dark>