<component-navigation-dark></component-navigation-dark>
<div class="container-fluid common-page-container dark">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1 dark with-subheader">
            Movies
        </h1>
        <div class="common-page-sub-header dark d-none d-lg-block">
            Since the day I got a camera phone, I was hooked on to clicking pictures. With better camera phones and photo sharing<br>apps like Instagram, I shared more pictures. But, lately, Instagram doesn't feel like a place to share photos anymore. It feels more<br>like an app to create dance and entertainment videos and reach more dopamine addicted users. This page is my reaction to the<br>disappointment Instagram has become. I love clicking pictures and sharing them, and finally, I have a place for them here. 🙌
        </div>
        <div class="common-page-sub-header dark d-block d-lg-none">
            Since the day I got a camera phone, I was hooked on to clicking pictures. With better camera phones and photo sharing apps like Instagram, I shared more pictures. But, lately, Instagram doesn't feel like a place to share photos anymore. This page is my reaction to the disappointment Instagram has become. I love clicking pictures and sharing them, and finally, I have a place for them here. 🙌
        </div>
        <div class="row">
            <div *ngFor="let item of data" class="content-grid-container-tile-row col-lg-3 col-md-4 col-sm-4 col-6">
                <component-movies-page-tile MoviesImage={{item.MoviesImage}} MoviesName={{item.MoviesName}} MoviesDescription={{item.MoviesDescription}} MoviesReleasedDate={{item.MoviesReleasedDate}} MoviesWatchedDate={{item.MoviesWatchedDate}}></component-movies-page-tile>
            </div>
        </div>
    </div>
</div>
<component-footer-dark></component-footer-dark>