<div class="row projects-page-card-container">
    <div class="col-lg-5 col-md-5 col-sm-5 col-12 projects-page-card-container-left">
        <img class="projects-page-card-container-image" src="{{data.projectImage}}">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-12 projects-page-card-container-right">
        <div class="col-12">
            <div class="projects-page-card-container-right-title-description">
                <span class="projects-page-card-title">{{data.projectTitle}}</span>
                <span class="projects-page-card-title-right-line">------</span>
                <span class="projects-page-card-description">{{data.projectDescription}}</span>
            </div>
            <div [ngStyle]="{'display': data.projectTypeFT}" class="common-body-pill-tag projects-page-card-container-right-meta-data-project-type-FT">
                Full-time role
            </div>
            <div [ngStyle]="{'display': data.projectTypeSP}" class="common-body-pill-tag projects-page-card-container-right-meta-data-project-type-SP">
                Side project
            </div>
            <div class="row">
                <div class="d-flex projects-page-card-container-right-meta-data">
                    <div class="">
                        <i class="fa-regular fa-clock icon-project-date"></i>
                    </div>
                    <div class="projects-page-card-container-right-meta-data-text">
                        {{data.projectDate}}
                    </div>
                </div>
                <div class="d-flex projects-page-card-container-right-meta-data">
                    <div class="">
                        <img src="../assets/projects/icon-title.svg" alt="" class="projects-page-card-container-right-meta-data-icons icon-project-title">
                    </div>
                    <div class="projects-page-card-container-right-meta-data-text">
                        {{data.projectWorkTitle}}
                    </div>
                </div>
                <div class="d-block d-sm-none">
                    <div class="d-flex projects-page-card-container-right-meta-data">
                        <div class="projects-page-card-container-right-meta-data-icons">
                            <i class="fa-solid fa-rotate-left"></i>
                        </div>
                        <div class="projects-page-card-container-right-meta-data-text">
                            Rotate phone to see roles / responsibilities
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block">
                    <div *ngFor="let role of data.projectRoles" class="d-flex projects-page-card-container-right-meta-data">
                        <div class="">
                            <img src="../assets/projects/icon-roles.svg" alt="" class="projects-page-card-container-right-meta-data-icons icon-project-role">
                        </div>
                        <div class="projects-page-card-container-right-meta-data-text">
                            {{role.description}}
                        </div>
                    </div>
                </div>
                <div class="projects-page-card-container-right-meta-data-random-fact-pusher">
                    <div class="d-flex projects-page-card-container-right-meta-data-random-fact-container">
                        <div class="col-1 projects-page-card-container-right-meta-data-random-fact-container-emoji" [ngStyle]="{'background-image': 'url(\''+ data.projectRandomFactEmoji + '\')'}">
                        </div>
                        <div class="projects-page-card-container-right-meta-data-random-fact-container-text">
                            <span class="projects-page-card-container-right-meta-data-random-fact-container-label">Random Fact:</span>{{data.projectRandomFactText}}
                        </div>
                    </div>
                </div>
                <div class="d-flex projects-page-card-container-right-meta-data">
                    <div class="">
                        <i class="fa-regular fa-user icon-project-team"></i>
                    </div>
                    <div class="projects-page-card-container-right-meta-data-text">
                        <span class="team-size-label">
                            {{data.projectTeamSizePMs}}
                        </span>
                        <span class="team-size-label">
                            {{data.projectTeamSizeDevs}}
                        </span>
                        <span class="team-size-label">
                            {{data.projectTeamSizeQAs}}
                        </span>
                        <span class="team-size-label">
                            {{data.projectTeamSizeDesigners}}
                        </span>
                    </div>
                </div>
                <div [ngStyle]="{'display': data.projectUrlDisplay}">
                    <a href='http://{{data.projectUrl}}' target="_blank" style="text-decoration: none;">
                        <div class="projects-page-card-container-right-meta-data-url-active">
                            {{data.projectUrlLabel}}
                            <i class="fas fa-external-link-alt"></i>
                        </div>
                    </a>
                </div>
                <div [ngStyle]="{'display': data.projectUrlPending}">
                    <div class="projects-page-card-container-right-meta-data-url-pending">
                        <i class="far fa-clock icon-prototype-link-soon"></i>
                        Adding prototype link soon
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>