<component-navigation-light></component-navigation-light>
<div class="container-fluid common-page-container">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1 with-subheader">
            Books
        </h1>
        <div class="common-page-sub-header d-none d-lg-block">
            Movies, TV shows, and documentories, have always been a doorway to creative thinking for me. Seeing how directors & artists<br>around the world can perceive something so differently and creatively has always been inspiring for me as a creator. That's why I love watching movies, TV shows, or any other kind of media. This page is an attempt to capture everything I've watched so far.
        </div>
        <div class="common-page-sub-header d-block d-lg-none">
            Movies, TV shows, and documentories, have always been a doorway to creative thinking for me. Seeing how directors & artists around the world can perceive something so differently and creatively has always been inspiring for me as a creator. That's why I love watching movies, TV shows, or any other kind of media. This page is an attempt to capture everything I've watched so far.
        </div>
        <div class="row">
            <div *ngFor="let item of booksData" class="content-grid-container-tile-row col-vlg-3 col-lg-4 col-md-4 col-sm-4 col-6">
                <component-books-page-tile [data]="item">
                </component-books-page-tile>
            </div>
        </div>
    </div>
</div>
<component-footer-dark></component-footer-dark>