<component-navigation-light></component-navigation-light>
<div class="container-fluid common-page-container photos-container">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1">
            Photos
        </h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="col-lg-12 photos-container-tile-image" style="
                                            background-image: url(../assets/photos/1.png);">
                </div>
            </div>
        </div>
    </div>
</div>
<component-footer></component-footer>