<component-navigation-light></component-navigation-light>
<div class="container-fluid common-page-container photos-container">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1">
            Photos
        </h1>
        <div class="row">
            <div *ngFor="let item of data" class="col-lg-4">
                <component-photos-tile name={{item.name}} description={{item.description}} image={{item.image}}></component-photos-tile>
            </div>
        </div>
    </div>
</div>
<component-footer></component-footer>