.projects-page-container {
  background-color: var(--color-white-100);
}

.projects-page-container .common-page-header-h1 {
  font-family: var(--font-family-header);
  font-size: 46px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: var(--font-family-header-letter-spacing);
}

.landing-page-sections-common-page-header-h1 span {
  font-family: var(--font-family-header);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  position: relative;
  top: -28px;
  left: -4px;
}

.projects-page-section-container {
  padding-bottom: 140px;
}

.projects-page-section-container:last-child {
  padding-bottom: 40px;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* All devices more than 1441px devices */
@media (min-width: 1441px) {
  .projects-page-container .content-container {
    max-width: 1100px;
  }
}

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
  .projects-page-section-container {
    padding-bottom: 100px;
  }
}

/* Only Medium devices (tablets) */
@media (min-width: 767px) and (max-width: 992px) {
}

/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 768px) {
}

/* Only Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 768px) {
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 575px) {
  .font-sup {
    display: none;
  }
}

/* Only X-Small devices (portrait phones) but below 375px */
@media (min-width: 0px) and (max-width: 375px) {
}
