<div class="photos-container-tile">
    <img class="photos-container-tile-image" src="{{PhotoImage}}" />
    <div class="photos-container-tile-name">
        {{PhotoName}} <a href="{{formPhotoUrl(PhotoName,PhotoDateTaken )}}"><i class="bi bi-link-45deg"></i></a>
    </div>
    <div class="photos-container-tile-description">
        {{PhotoDescription}}
    </div>
    <div class="photos-container-tile-location">
        <i class="bi bi-geo-alt-fill"></i>
        {{PhotoLocation}}
    </div>
    <div class="photos-container-tile-date-taken">
        <i class="bi bi-camera-fill"></i>
        {{PhotoDateTaken}}
    </div>
</div>