<div class="container-fluid common-page-container landing-page-section-containers testimonials-page-container" style="background-image: url(../assets/testimonials/testimonial-back.png);">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1 landing-page-sections-common-page-header-h1 with-subheader">
            If words can speak louder than actions?
        </h1>
        <div class="common-page-sub-header landing-page-sections-common-page-sub-header d-none d-lg-block">
            I’ve been fortunate enough to work with some really smart, humble, kind, and genuine human beings. Not only <br>I enjoyed working with them; their work & words of wisdom have genuinely impacted my professional & personal life. <br>I feel a comfort to know that they are now my friends more than ex-colleagues, and have trusted me enough to say <br>decently good things about me. Here are a few testimonials from people I’ve worked with:
        </div>
        <div class="common-page-sub-header landing-page-sections-common-page-sub-header d-block d-lg-none">
            I’ve been fortunate enough to work with some really smart, humble, kind, and genuine human beings. Not only I enjoyed working with them; their work & words of wisdom have genuinely impacted my professional & personal life. I feel a comfort to know that they are now my friends more than ex-colleagues, and have trusted me enough to say decently good things about me. Here are a few testimonials from people I’ve worked with:
        </div>
        <div class="row">
            <component-testimonials-page-card></component-testimonials-page-card>
        </div>
    </div>
</div>