<div class="custom-grid-content-container-tile">
    <div class="custom-grid-content-container-tile-image photos" [ngStyle]="{'background-image': 'url(\''+ PhotoImage + '\')'}"></div>
    <div class="row">
        <div class="col-auto custom-grid-content-container-tile-name">
            {{PhotoName}}
        </div>
        <!-- <div class="col-auto custom-grid-content-container-tile-name photos-tile-link-parent">
            <a class="photos-tile-link" href="{{formPhotoUrl(PhotoName,PhotoDateTaken )}}"><i class="bi bi-link-45deg"></i></a>
        </div> -->
    </div>
    <div class="custom-grid-content-container-tile-description">
        {{PhotoDescription}}
    </div>
    <div class="custom-grid-content-container-tile-meta-data first">
        <i class="bi bi-geo-alt-fill custom-grid-content-container-tile-icons"></i>
        {{PhotoLocation}}
    </div>
    <div class="custom-grid-content-container-tile-meta-data">
        <i class="bi bi-camera-fill custom-grid-content-container-tile-icons"></i>
        {{PhotoDateTaken}}
    </div>
</div>