<div class="photos-container-tile">
    <img class="photos-container-tile-image" src="{{PhotoImage}}" />
    <div class="row">
        <div class="col-auto photos-container-tile-name">
            {{PhotoName}}
        </div>
        <!-- <div class="col-auto photos-container-tile-name photos-tile-link-parent">
            <a class="photos-tile-link" href="{{formPhotoUrl(PhotoName,PhotoDateTaken )}}"><i class="bi bi-link-45deg"></i></a>
        </div> -->
    </div>
    <div class="photos-container-tile-description">
        {{PhotoDescription}}
    </div>
    <div class="photos-container-tile-location">
        <i class="bi bi-geo-alt-fill"></i>
        {{PhotoLocation}}
    </div>
    <div class="photos-container-tile-date-taken">
        <i class="bi bi-camera-fill"></i>
        {{PhotoDateTaken}}
    </div>
</div>