<div class="row testimonials-page-card-container">
    <!--------------------->
    <!-- Desktop visible -->
    <!--------------------->
    <!----------------->
    <!-- Left column -->
    <!----------------->
    <div class="col-6 padding-right d-none d-md-block">
        <!-- Chuck testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A solid foundation of rational thought.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is an incredibly talented designer as well as an intelligent, curious, and self-motivated individual. When tackling a design challenge, he puts extreme care into every interaction along the user journey. His aesthetic is simultaneously thoughtful and playful—and always centered around the user's needs.
                        </p>
                        <p>
                            He gracefully articulates his viewpoint—which always comes from a solid foundation of rational thought and customer-centricity. On top of all of this, he is a really nice guy and is downright fun to work with.
                        </p>
                        <p>
                            I would highly recommend anyone considering hiring or working with Sankalp to consider him. I would do the same in a heartbeat.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/chuck.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Chuck Burt
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Product Management Leader
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Embark Veterinary
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akshar testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Believes in community growth.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            We have been working at Wingify for some quarters and collaborated on a couple of design projects. He had been the spearhead of this collab.
                        </p>
                        <p>
                            The one skill I could point out about Sankalp would be: believing in community growth. Sankalp shares every useful tool/resource he finds online. Open enough to have a debate over the latest design trends, or may it be philosophies.
                        </p>
                        <p>
                            "Fun, enthusiastic, and high on design trends" are the words that first come to my mind when I'd have to talk about Sankalp.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/akshar.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Akshar Patel
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Design Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Gojek.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Anca testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A creative & forward-thinking designer.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            I worked with Sankalp for 4 years at SellerCrowd. As a QA Lead, my job was to define requirements based on his designs and I always appreciated that his design handoff was always clear, organized. He always provided ample context, diagrams, or demos for the team for a smooth dev-handoff.
                        </p>
                        <p>
                            Sankalp is a creative and forward-thinking designer. He’s always eager to try new tools & processes, as he wants to deeply understand the customer problems and come up with modern and efficient solutions.
                        </p>
                        <p>
                            Being the only designer in the team, Sankalp's ability to juggle multiple features at the same time had a big contribution to the productivity of our team. In addition to his experience, Sankalp is a great teammate, and he will make sure that everyone leave meetings with a smile. He would be an asset to any team.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/anca.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Anca Oaida
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                QA Lead
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @SellerCrowd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------>
    <!-- Right column -->
    <!------------------>
    <div class="col-6 padding-left d-none d-md-block">
        <!-- Pooja testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        One of the most fearless voices.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp does not hold back on his opinions on topics he cares for. He is equally open to being convinced otherwise - which is admirable. He’s one of the most fearless voices I’ve come across in a while.
                        </p>
                        <p>
                            Additionally, Sankalp brings in fresh energy, perspective, and color to team. He's a fast learner and his hunger to learn more is evident in all the side-projects he builds in his free time.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/pooja.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Pooja Dave
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Sr. Product Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Amazon
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aaron testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A talented designer with strong empathy for users.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a talented designer with strong empathy for users. While we built Cohoot together, he displayed a knack for grasping vague, high-level business requirements and turning them into tangible designs and user flows with little or no direction.
                        </p>
                        <p>
                            I was particularly impressed with his open-mindedness when it came to receiving and incorporating non-designers feedback. Sankalp is often inciting laughter within the team, whether in-person or on a video call. He's fun to work with!
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/aaron.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Aaron Burnett
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                CEO / Community & Marketing Expert
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Spaced Ventures
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Amit testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A team player with a distinct bias for self improvement.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a passionate designer who doesn't shy away from voicing his opinions and who is always willing to have a detailed discussion around design and its applications.
                        </p>
                        <p>
                            His extracurricular pursuits in the form of his side projects help bring him a unique perspective to whatever project he’s working on.
                        </p>
                        <p>
                            A team player with a distinct bias for self-improvement, he is a valuable addition to any team.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/amit.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Amit Ghasghase
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Ex-Product Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Wingify.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Heather testimonial -->
        <div class="testimonials-page-card-container-padding col-12 overlay">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Deeply creative & demonstrating initiative.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            I have had the pleasure of not only working with Sankalp for almost 4 years but also calling him a friend...
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/heather.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Heather Reed
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Director of Research
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @SellerCrowd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------->
    <!-- Mobile visible --->
    <!--------------------->
    <div class="col-12 d-block d-md-none">
        <!-- Chuck testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A solid foundation of rational thought.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is an incredibly talented designer as well as an intelligent, curious, and self-motivated individual. When tackling a design challenge, he puts extreme care into every interaction along the user journey. His aesthetic is simultaneously thoughtful and playful—and always centered around the user's needs.
                        </p>
                        <p>
                            He gracefully articulates his viewpoint—which always comes from a solid foundation of rational thought and customer-centricity. On top of all of this, he is a really nice guy and is downright fun to work with.
                        </p>
                        <p>
                            I would highly recommend anyone considering hiring or working with Sankalp to consider him. I would do the same in a heartbeat.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/chuck.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Chuck Burt
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Product Management Leader
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Embark Veterinary
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pooja testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        One of the most fearless voices.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp does not hold back on his opinions on topics he cares for. He is equally open to being convinced otherwise - which is admirable. He’s one of the most fearless voices I’ve come across in a while.
                        </p>
                        <p>
                            Additionally, Sankalp brings in fresh energy, perspective, and color to team. He's a fast learner and his hunger to learn more is evident in all the side-projects he builds in his free time.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/pooja.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Pooja Dave
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Sr. Product Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Amazon
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aaron testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A talented designer with strong empathy for users.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a talented designer with strong empathy for users. While we built Cohoot together, he displayed a knack for grasping vague, high-level business requirements and turning them into tangible designs and user flows with little or no direction.
                        </p>
                        <p>
                            I was particularly impressed with his open-mindedness when it came to receiving and incorporating non-designers feedback. Sankalp is often inciting laughter within the team, whether in-person or on a video call. He's fun to work with!
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/aaron.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Aaron Burnett
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                CEO / Community & Marketing Expert
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Spaced Ventures
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Anca testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A creative & forward-thinking designer.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            I worked with Sankalp for 4 years at SellerCrowd. As a QA Lead, my job was to define requirements based on his designs and I always appreciated that his design handoff was always clear, organized. He always provided ample context, diagrams, or demos for the team for a smooth dev-handoff.
                        </p>
                        <p>
                            Sankalp is a creative and forward-thinking designer. He’s always eager to try new tools & processes, as he wants to deeply understand the customer problems and come up with modern and efficient solutions.
                        </p>
                        <p>
                            Being the only designer in the team, Sankalp's ability to juggle multiple features at the same time had a big contribution to the productivity of our team. In addition to his experience, Sankalp is a great teammate, and he will make sure that everyone leave meetings with a smile. He would be an asset to any team.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/anca.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Anca Oaida
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                QA Lead
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @SellerCrowd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akshar testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Believes in community growth.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            We have been working at Wingify for some quarters and collaborated on a couple of design projects. He had been the spearhead of this collab.
                        </p>
                        <p>
                            The one skill I could point out about Sankalp would be: believing in community growth. Sankalp shares every useful tool/resource he finds online. Open enough to have a debate over the latest design trends, or may it be philosophies.
                        </p>
                        <p>
                            "Fun, enthusiastic, and high on design trends" are the words that first come to my mind when I'd have to talk about Sankalp.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/akshar.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Akshar Patel
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Design Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Gojek.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Amit testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A team player with a distinct bias for self improvement.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a passionate designer who doesn't shy away from voicing his opinions and who is always willing to have a detailed discussion around design and its applications.
                        </p>
                        <p>
                            His extracurricular pursuits in the form of his side projects help bring him a unique perspective to whatever project he’s working on.
                        </p>
                        <p>
                            A team player with a distinct bias for self-improvement, he is a valuable addition to any team.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/amit.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Amit Ghasghase
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Ex-Product Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Wingify.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Heather testimonial -->
        <div class="testimonials-page-card-container-padding col-12 overlay">
            <div class="testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Deeply creative & demonstrating initiative.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            I have had the pleasure of not only working with Sankalp for almost 4 years but also calling him a friend...
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/heather.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Heather Reed
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Director of Research
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @SellerCrowd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>