.stay-connected {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--color-grey-555);
  background-color: var(--color-dark-background);
  border: 2px solid var(--color-grey-444);
  border-radius: var(--border-radius-12px);
  cursor: pointer;
  width: fit-content;
  margin: auto;
  margin-top: 60px;
  padding: 16px 28px;
}

.stay-connected:hover {
  color: var(--color-white-100);
  background-color: var(--color-link-blue-default);
  border: 2px solid var(--color-link-blue-default);
  text-shadow: var(--box-shadow-light-card-medium);
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.stay-connected span {
  padding: 0px 8px 0px 12px;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* All devices more than 1441px devices */
@media (min-width: 1441px) {
}

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
}

/* Only Medium devices (tablets) */
@media (min-width: 767px) and (max-width: 992px) {
}

/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 768px) {
}

/* Only Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 768px) {
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 575px) {
  .content-container > .row {
    --bs-gutter-x: 1rem;
  }
}

/* Only X-Small devices (portrait phones) but below 375px */
@media (min-width: 0px) and (max-width: 375px) {
}
