<component-navigation-dark></component-navigation-dark>
<div class="container-fluid common-page-container dark">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1 dark with-subheader">
            Photos
        </h1>
        <div class="common-page-sub-header dark with-tabs d-none d-lg-block">
            Since the day I got a camera phone, I was hooked on to clicking pictures. With better camera phones and photo sharing<br>apps like Instagram, I shared more pictures. But, lately, Instagram doesn't feel like a place to share photos anymore. It feels more<br>like an app to create dance and entertainment videos and reach more dopamine addicted users. This page is my reaction to the<br>disappointment Instagram has become. I love clicking pictures and sharing them, and finally, I have a place for them here. 🙌
        </div>
        <div class="common-page-sub-header dark with-tabs d-block d-lg-none">
            Since the day I got a camera phone, I was hooked on to clicking pictures. With better camera phones and photo sharing apps like Instagram, I shared more pictures. But, lately, Instagram doesn't feel like a place to share photos anymore. This page is my reaction to the disappointment Instagram has become. I love clicking pictures and sharing them, and finally, I have a place for them here. 🙌
        </div>
        <div class="content-grid-container-tabs-container ">
            <div class="content-grid-container-tabs-container-tabs ">
                <input type="radio" id="content-grid-container-tabs-container-tabs-radio-1" name="tabs" checked />
                <label (click)="ToggleGrid()" class="content-grid-container-tabs-pill" for="content-grid-container-tabs-container-tabs-radio-1">
                    <i class="bi bi-grid-fill content-grid-container-tabs-pill-icons"></i> Grid
                </label>
                <input type="radio" id="content-grid-container-tabs-container-tabs-radio-2" name="tabs" />
                <label (click)="ToggleList()" class="content-grid-container-tabs-pill" for="content-grid-container-tabs-container-tabs-radio-2">
                    <i class="fa-solid fa-list-ul content-grid-container-tabs-pill-icons"></i> List
                </label>
                <span class="content-grid-container-tabs-container-tabs-active "></span>
            </div>
        </div>
        <div class="row">
            <ng-container *ngIf="showAsGrid">
                <div *ngFor="let item of photosData" class="content-grid-container-tile-row col-lg-4 col-md-4 col-sm-6 col-6">
                    <component-photos-tile-grid PhotoImage={{item.PhotoImage}} PhotoName={{item.PhotoName}} PhotoDescription={{item.PhotoDescription}} PhotoLocation={{item.PhotoLocation}} PhotoDateTaken={{item.PhotoDateTaken}} albums={{item.albums}}></component-photos-tile-grid>
                </div>
            </ng-container>
            <ng-container *ngIf="showAsList">
                <div *ngFor="let item of photosData" class="content-grid-container-tile-row col-12">
                    <component-photos-tile-list PhotoImage={{item.PhotoImage}} PhotoName={{item.PhotoName}} PhotoDescription={{item.PhotoDescription}} PhotoLocation={{item.PhotoLocation}} PhotoDateTaken={{item.PhotoDateTaken}} albums={{item.albums}}></component-photos-tile-list>
                </div>
            </ng-container>
        </div>
        <a href="https://twitter.com/sankalpdomore" target="_blank" class="link-remove-underline">
            <div class="stay-connected d-none d-lg-block">
                Know when I post another photo<span><i class="bi bi-twitter"></i></span>Connect with me on Twitter @sankalpdomore
            </div>
            <div class="stay-connected d-block d-lg-none">
                Know when I post another photo
                <br><span><i class="bi bi-twitter"></i></span>Connect with me on Twitter @sankalpdomore
            </div>
        </a>
    </div>
</div>
<component-footer-dark></component-footer-dark>