<nav class="navbar navbar-expand-lg container fixed-top mx-auto">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="bi bi-house-door-fill navbar-brand-logo">
        <span class="navbar-brand-logo-label align-middle">Home</span>
      </i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link gap" href="#">
          #BuildingInPublic
        </a>
        <!-- <a class="nav-link gap" href="http://dribbble.com/sankalpdomore" target="_blank">
          <i class="bi bi-briefcase-fill"></i>
          Dribbble
        </a> -->
        <a class="nav-link gap" href="http://experiments.themadscientistlab.com" target="_blank">
          <i class="bi bi-chat-square-quote-fill"></i>
          Blog
        </a>
        <a class="nav-link gap" href="http://twitter.com/sankalpdomore" target="_blank">
          <i class="bi bi-twitter"></i>
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>
