<div class="container-fluid common-container buildinginpublic-container">
  <div class="container-fluid content-container">
    <h1 class="common-page-header-h1">
      Building In Public
    </h1>
    <div class="buildinginpublic-what">
      <h3 class="common-section-header-h3">
        What Building in Public means?
      </h3>
      <div class="common-body-text-16-regular">
        When you start a project, say building a car, manufacturing a sofa, designing a smartphone, or something artistic like a painting, you can choose to do this project in two ways.
      </div>
      <div class="common-body-text-18-bold">
        Building in Private:
      </div>
      <div class="common-body-text-16-regular">
        One way is to build in private where you design and assemble the said car, sofa or the smartphone in a closed garage or factory, hidden away from general public, and then launch it in a big event.

        The same goes for the painting or a book for example. You paint or write this book without letting anyone know about it, you just involve a few people in the process to take feedback and tweak and then display the painting publicly one day or
        publish that book globally.
      </div>
      <div class="common-body-text-18-bold">
        Building in Public:
      </div>
      <div class="common-body-text-16-regular">
        Second way is to build in public. It's totally opposite to building in private. Here, instead of hiding your project, the process, the thinking and other important details, you share these details in public.

        So in the context of building the car in public, you'll share your sketches, early 3D renderings, the thought behind the mechanics and design of the car, the materials you're using to build the car, the paint, any issues that you might come
        across building this car, so on and so forth. You'll basically share important details throughout the process of building this car with the public, via a blog post, a podcast, a YouTube channel or just getting covered by your local newspaper.

        But one thing is for sure, whatever you do, you'll always remain open about sharing information about the project from start to finish, and sometimes even after.
      </div>
    </div>
    <div class="buildinginpublic-why section-break">
      <h3 class="common-section-header-h3">
        Why I am Building in Public:
      </h3>
      <div class="common-body-text-16-regular">
        Early in my career, one thing I realised about myself is that I get really motivated to work on things if I start sharing the progress in public. I've shared my To-Dos a lot in the past. I've shared about my side-projects in the past. I share
        my WIP design shots on Dribbble. These all are examples of sharing my work in public.
        <br>
        <br>
        When you talk about your work in public it does a couple of things:
      </div>
      <div class="common-body-text-16-regular">
        <ol class="common-body-text-list">
          <li>
            <span class="common-body-text-16-bold">Social accountability:</span>The biggest one is that you consciously start holding yourself accountable in public. Now that you've announced you're doing xyz, you know that people will know if you
            failed or succeeded in that project. And no one likes to get embarrassed by their failure in public, so the balls gets rolling.
          </li>
          <li>
            <span class="common-body-text-16-bold">Bias towards action:</span> Since you've announced the start of the project in public (and given you want to share progress about it too), the task of getting things done gets fuelled by both
            intrinsic (i.e. you want to work on this project) and extrinsic (people might be interested in knowing the progress) motivations.
          </li>
          <li>
            <span class="common-body-text-16-bold">Social accountability:</span> The biggest one is that you consciously start holding yourself accountable in public. Now that you've announced you're doing xyz, you know that people will know if you
            failed or succeeded in that project. And no one likes to get embarrassed by their failure in public, so the balls gets rolling.
          </li>
          <li>
            <span class="common-body-text-16-bold">Social accountability:</span> The biggest one is that you consciously start holding yourself accountable in public. Now that you've announced you're doing xyz, you know that people will know if you
            failed or succeeded in that project. And no one likes to get embarrassed by their failure in public, so the balls gets rolling.
          </li>
          <li>
            <span class="common-body-text-16-bold">Social accountability:</span> The biggest one is that you consciously start holding yourself accountable in public. Now that you've announced you're doing xyz, you know that people will know if you
            failed or succeeded in that project. And no one likes to get embarrassed by their failure in public, so the balls gets rolling.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>