<component-navigation-light></component-navigation-light>
<div class="container-fluid common-page-container buildinginpublic-container">
    <div class="container-fluid content-container">
        <h1 class="common-page-header-h1">
            Building In Public
        </h1>
        <div class="common-body-text-16-regular">
            <p>
                I’ve always loved designing and coding my work. I coded my first portfolio website in 2012. Did a refresh of it in 2014 and have been procrastinating on a re-design project since 2016. I started and made some progress on the designs in 2020 but then covid happened and I drifted off to 100 other things.
            </p>
            <p>
                This year, 2021, for some reason, feels different. I’ve started the project and focusing on making the website incrementally better every month vs. redesigning it one go and launching it.
            </p>
            <p>
                This is where “Building in Public” comes into the picture. I want to keep myself on track for this project and there’s no better way than building in public. If you’re new to the concept of “Building in Public”, I’ve laid down a bit of basics in the accordions below.
            </p>
        </div>
        <div class="accordion">
            <div class="accordion-item building-in-public-accordion">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        What Building in Public means?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="buildinginpublic-what">
                            <div class="common-body-text-16-regular">
                                When you start a project, say building a car, manufacturing a sofa, designing a smartphone, or something creative like a painting or writing a book, you can choose to do these project in two ways.
                            </div>
                            <div class="common-body-text-18-bold">
                                Building in Private:
                            </div>
                            <div class="common-body-text-16-regular">
                                One way is to build in private where you design and assemble the said car, sofa, or smartphone in a closed garage or factory, hidden away from the general public, and then launch it in a big event. The same goes for the painting or a book for example. You paint or write this book without letting anyone know. You just involve a few people in the process to take feedback, tweak, and then display the painting one fine day or publish that book globally.
                            </div>
                            <div class="common-body-text-18-bold">
                                Building in Public:
                            </div>
                            <div class="common-body-text-16-regular">
                                The second way is to build in public. It's opposite to building in private. Here, instead of hiding your project, the process, the thinking, and other important details, you share these details in public. So in the context of building the car in public, you'll share your sketches, early 3D renderings, the thought behind the mechanics and design of the car, the materials you're using to build the car, the paint, any issues that you might come across building this car, so on and so forth. You'll share important details throughout the process of building this car with the public, via a blog post, a podcast, a YouTube channel or just getting covered by your local newspaper. But one thing is for sure, whatever you do, you'll remain open about sharing information about the project from start to finish, and sometimes even after.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item building-in-public-accordion">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Why I am Building in Public?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="buildinginpublic-why">
                            <div class="common-body-text-16-regular">
                                Early in my career, one thing I realized about myself is that I get motivated to work on things if I start sharing its progress in public. I've shared my To-Dos a lot in the past. I've shared about my side-projects in the past. I share my WIP design shots on Dribbble.
                                <p></p>
                                <div class="common-img-container-parent">
                                    <div class="common-img-container-child container-fluid">
                                        <img src="../assets/buildinginpublic/poweroftinygains.png" alt="" class="common-img-container-img">
                                    </div>
                                    <div class="common-img-container-img-label">
                                        "The effects of small habits compound over time." ~ James Clear
                                    </div>
                                </div>
                                When you talk about your work in public it does a couple of things:
                            </div>
                            <div class="common-body-text-16-regular">
                                <ol class="common-body-text-list">
                                    <li>
                                        <span class="common-body-text-16-bold">
                                            Social accountability:
                                        </span>
                                        The biggest one is that you consciously start holding yourself accountable in public. Now that you've announced you're doing that project, you know that people will know if you failed or succeeded in that project. And no one likes to get embarrassed by their failure in public, so the ball gets rolling.
                                    </li>
                                    <li>
                                        <span class="common-body-text-16-bold">
                                            Bias towards action:
                                        </span>
                                        Since you've announced the start of the project in public (and given you want to share progress about it too), the task of getting things done gets fuelled by both intrinsic (i.e. you want to work on this project) and extrinsic (people might be interested in knowing the progress) motivations.
                                    </li>
                                    <li>
                                        <span class="common-body-text-16-bold">
                                            Project documentation:
                                        </span>
                                        Another best part of building in public is the documentation you get while talking about your project. Even if you failed or had an okay-ish success in completing the project, you always have a written log of your journey and those can be a huge asset either as a reference for future projects for yourself or helping someone get started or figure out problems that you faced - by publishing the process in a blog post or an e-book.<i><b>Process documentation is very underrated.</b></i>
                                    </li>
                                    <li>
                                        <span class="common-body-text-16-bold">
                                            Attract collaborators, customers, patrons:
                                        </span>
                                        People love listening to a story or seeing others do interesting stuff. Building in public might attract (and have attracted) potential collaborators, customers, or patrons for your project. As you talk about your progress in public, people see you as a doer + it builds credibility, which in turn gives them the confidence to reach out for help, buy your product or just follow your social account for future updates. It's a win-win.
                                    </li>
                                    <li>
                                        <span class="common-body-text-16-bold">
                                            Multi-day marketing vs. a single launch day:
                                        </span>
                                        The biggest problem with building in private is spending a ton of effort, money and other resources on the launch day i.e. to spread the word. Guess what?! Building in public helps you do that from day 1. Think of your project being launched every day with every little update you share in public. So instead of a "one-day mega-launch", it becomes a "multi-day micro-launch". This way, more and more people will get to learn about your project every day rather than relying on one single day.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item building-in-public-accordion">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        How I am going to make & publish this re-design project?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="buildinginpublic-how">
                            <div class="common-body-text-16-regular">
                                To start with, I want to stick with the concept of "incrementally correct personal website". I came across that concept from
                                <a class="links-muted" href="https://brianlovin.com/writing incrementally-correct-personal-websites">
                                    Brian's blog
                                </a> who got the idea from
                                <a class="links-muted" href="https://designdetails.fm/episodes/113490">
                                    Guillermo Rauch
                                </a>.
                                The concept is:
                                <i class="qouting">
                                    "Building an incrementally correct product is the process of iterating towards something more truthful, accurate, usable, or interesting. The faster we can iterate, the faster we can discover good ideas. Things aren't perfect today, but tomorrow things can be slightly closer to perfect."
                                </i>
                                <p></p>
                                Why you may ask? It's because designing and building a portfolio website is an iterative process and if I start tweaking stuff to perfection, I'll launch slowly. If I launch slowly, I'll document and talk about my project less, which starts taking the route of "building in private".
                                <p></p>
                                So, simple to-dos to make sure I stay on track in designing and building my portfolio website in public can be:
                                <div class="common-body-text-16-regular">
                                    <ol class="common-body-text-list-all-bold">
                                        <li>
                                            <span class="common-body-text-16-bold">
                                                Break feature into smallest shippable items.
                                            </span>
                                        </li>
                                        <li>
                                            <span class="common-body-text-16-bold">
                                                Iterate small and ship faster.
                                            </span>
                                        </li>
                                        <li>
                                            <span class="common-body-text-16-bold">
                                                Document and publish what I am shipping.
                                            </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buildinginpublic-what-next">
            <h3 class="common-section-header-h3">
                Cool, what’s next? Social proof!
            </h3>
            <div class="common-body-text-16-regular">
                <p>
                    To keep things simple and as transparent as possible, I’ve added (& will keep adding) links to all the work that I am doing that includes, wireframing, userflows, documenting ideas, writing UX requirements, designing and coding the site.
                </p>
                I am using:
                <div class="buildinginpublic-what-next-bullets">
                    <img src="../assets/buildinginpublic/logo-notion.svg" alt="" class="buildinginpublic-what-next-bullets-icons">
                    <a href="#id-embed-container-notion">
                        <span class="buildinginpublic-what-next-bullets-label"><u>Notion</u>:</span>
                    </a>
                    to track and document all the stuff related
                </div>
                <div class="buildinginpublic-what-next-bullets">
                    <img src="../assets/buildinginpublic/logo-figma.svg" alt="" class="buildinginpublic-what-next-bullets-icons">
                    <span class="buildinginpublic-what-next-bullets-label"><u>Figma</u>:</span> to design and prototype lo-fi and hi-fi mockups
                </div>
                <div class="buildinginpublic-what-next-bullets">
                    <img src="../assets/buildinginpublic/logo-github.svg" alt="" class="buildinginpublic-what-next-bullets-icons">
                    <span class="buildinginpublic-what-next-bullets-label"><u>GitHub</u>:</span> for versioning and track code progress
                </div>
                <div class="buildinginpublic-what-next-bullets">
                    <img src="../assets/buildinginpublic/logo-twitter.svg" alt="" class="buildinginpublic-what-next-bullets-icons">
                    <span class="buildinginpublic-what-next-bullets-label"><u>Twitter</u>:</span> to share updates as changelogs
                </div>
            </div>
        </div>
        <div id="id-embed-container-notion" class="embed-containers embed-container-notion">
            <h3 class="common-section-header-h3 embed-containers-header">
                Project pipeline
            </h3>
            <div class="common-body-text-16-regular embed-containers-subheader">
                Having a project pipeline in a Kanban board or in tablular format helps a lot in visualizing your project towards execution. I am planning and documenting every small to big detail in Notion for this project. Click below to visit the <a href="https://sankalpdomore.notion.site/9102c43d58f4484db992747d0c43502b?v=6657f39aa84a40c1829a0fa4158b829f" class="embed-container-notion-link embed-containers-subheader-links-muted" target="_blank">Kanban Board's public view</a> and click through any specific card/story and read through it’s progress.
            </div>
            <a href="https://sankalpdomore.notion.site/9102c43d58f4484db992747d0c43502b?v=6657f39aa84a40c1829a0fa4158b829f" class="embed-container-notion-link" target="_blank">
                <img src="../assets/buildinginpublic/project-notion.png" class="building-in-public-notion-image" />
            </a>
        </div>
        <div class="embed-containers embed-container-figma">
            <h3 class="common-section-header-h3 embed-containers-header">
                Figma files
            </h3>
            <div class="common-body-text-16-regular embed-containers-subheader">
                Below you’ll find all the source files for all the design stuff related to this project.
                Each file has its own wireframe, userflow, variations, and final designs organized in pages.
            </div>
            <div class="row embed-container-figma-file-row">
                <div class="col-lg-3 embed-container-figma-file-labels">
                    Design system:
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F4R3khjIxd7GhORAAmnACCb%2FSankalpsinha.com-%253E-Design-Library%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F7tuH4KomarcwjiSK9tgo5G%2FUser-flow---Design-System%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row embed-container-figma-file-row">
                <div class="col-lg-3 embed-container-figma-file-labels">
                    Landing page:
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FIBO5OP1ziWxm6aLUrrhxjY%2FLanding-page---V1.0%3Fnode-id%3D812%253A1555" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FIBO5OP1ziWxm6aLUrrhxjY%2FLanding-page---V1.0%3Fnode-id%3D935%253A4394" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FIBO5OP1ziWxm6aLUrrhxjY%2FLanding-page---V1.0%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FIBO5OP1ziWxm6aLUrrhxjY%2FLanding-page---V1.0%3Fnode-id%3D812%253A2153" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FIBO5OP1ziWxm6aLUrrhxjY%2FLanding-page---V1.0%3Fnode-id%3D598%253A1571" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row embed-container-figma-file-row">
                <div class="col-lg-3 embed-container-figma-file-labels">
                    Building In Public page:
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F8LCChwRjL2ataw2FtS52Gu%2FBuilding-in-Public-page---V1.0%3Fnode-id%3D0%253A1" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F8LCChwRjL2ataw2FtS52Gu%2FBuilding-in-Public-page---V1.0%3Fnode-id%3D601%253A579" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6">
                            <iframe class="embed-container-figma-link" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F8LCChwRjL2ataw2FtS52Gu%2FBuilding-in-Public-page---V1.0%3Fnode-id%3D704%253A419" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="embed-containers embed-container-github">
            <h3 class="common-section-header-h3 embed-containers-header">
                Github activity
            </h3>
            <div class="common-body-text-16-regular embed-containers-subheader">
                I love coding and flexing my web development muscles in redesigning & coding this website. Below you’ll find all the code commit activity for this redesign project. For more detailed look, feel free to inspect them on the GitHub project page.
            </div>
            <img src="http://ghchart.rshah.org/sankalpdomore" class="building-in-public-github-image" />
        </div>
        <div class="embed-containers embed-container-analytics">
            <h3 class="common-section-header-h3 embed-containers-header">
                Analytics
            </h3>
            <div class="common-body-text-16-regular embed-containers-subheader">
                Adding all the website data like total visitors, pages they visit the most, browsers users are using the most, countries visited from, and top sources of traffic. Data powered by PostHog Analytics.
            </div>
            <div class="embed-container-analytics-div">
                <iframe class="embed-container-analytics-div-src" src="https://app.posthog.com/shared_dashboard/b5BHNpP8L_E5yx024B81H5nh0T1NKg" frameborder="0"></iframe>
            </div>
        </div>
        <div class="embed-containers embed-container-tweets">
            <h3 class="common-section-header-h3 embed-containers-header">
                Changelog tweets
            </h3>
            <div class="common-body-text-16-regular embed-containers-subheader">
                Apart from the Notion, Figma and Github activity embeds, I’ll also put out a tweet with all the new changes everytime I publish something new to the site.
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <blockquote class="twitter-tweet">
                        <a href="https://twitter.com/sankalpdomore/status/1411740211948802055"></a>
                    </blockquote>
                </div>
                <div class="col-lg-6">
                    <blockquote class="twitter-tweet">
                        <a href="https://twitter.com/sankalpdomore/status/1440302828354891782"></a>
                    </blockquote>
                </div>
            </div>
            <a href="https://twitter.com/sankalpdomore/status/1356797576129908739" target="_blank" class="link-remove-underline">
                <div class="col-lg-12 see-more-link">
                    See whole thread
                </div>
            </a>
        </div>
    </div>
</div>
<component-footer></component-footer>