  <div class="container-fluid common-container buildinginpublic-container">
    <div class="container-fluid content-container">
      <h1 class="common-page-header-h1">
        Building In Public
      </h1>
      <div class="buildinginpublic-what">
        <h3 class="common-section-header-h3">
          What Building in Public means?
        </h3>
        <div class="common-body-text-16-regular">
          When you start a project, say building a car, manufacturing a sofa, designing a smartphone, or something artistic like a painting, you can choose to do this project in two ways.
        </div>
        <div class="common-body-text-18-bold">
          Building in Private:
        </div>
        <div class="common-body-text-16-regular">
          One way is to build in private where you design and assemble the said car, sofa or the smartphone in a closed garage or factory, hidden away from general public, and then launch it in a big event. The same goes for the painting or a book for example.You paint or write this book without letting anyone know about it, you just involve a few people in the process to take feedback and tweak and then display the painting publicly one day or publish that book globally.
        </div>
        <div class="common-body-text-18-bold">
          Building in Public:
        </div>
        <div class="common-body-text-16-regular">
          Second way is to build in public. It's totally opposite to building in private. Here, instead of hiding your project, the process, the thinking and other important details, you share these details in public. So in the context of building the car in public, you'll share your sketches, early 3D renderings, the thought behind the mechanics and design of the car, the materials you're using to build the car, the paint, any issues that you might come across building this car, so on and so forth.
          You'll basically share important details throughout the process of building this car with the public, via a blog post, a podcast, a YouTube channel or just getting covered by your local newspaper. But one thing is for sure, whatever you do, you'll always remain open about sharing information about the project from start to finish, and sometimes even after. </div>
      </div>
      <div class="buildinginpublic-why section-break">
        <h3 class="common-section-header-h3">
          Why I am Building in Public:
        </h3>
        <div class="common-body-text-16-regular">
          Early in my career, one thing I realised about myself is that I get really motivated to work on things if I start sharing the progress in public. I've shared my To-Dos a lot in the past. I've shared about my side-projects in the past. I share my WIP design shots on Dribbble. These all are examples of sharing my work in public.
          <p></p>
          When you talk about your work in public it does a couple of things:
        </div>
        <div class="common-body-text-16-regular">
          <ol class="common-body-text-list">
            <li>
              <span class="common-body-text-16-bold">Social accountability:</span> The biggest one is that you consciously start holding yourself accountable in public. Now that you've announced you're doing xyz, you know that people will know if you failed or succeeded in that project. And no one likes to get embarrassed by their failure in public, so the balls gets rolling.
            </li>
            <li>
              <span class="common-body-text-16-bold">Bias towards action:</span> Since you've announced the start of the project in public (and given you want to share progress about it too), the task of getting things done gets fuelled by both intrinsic (i.e. you want to work on this project) and extrinsic (people might be interested in knowing the progress) motivations.
            </li>
            <li>
              <span class="common-body-text-16-bold">Project documentation:</span> Another best part of building in public is the documentation you get while talking about your project. Even if you failed or had an okay-ish success in completing the project, you always have a log of things that you did and those can be a huge help in either referring for something in the future or you can just publish the process in a blog post or an e-book, helping someone get started or figure out problems that you faced. Process documentation is very underrated.
            </li>
            <li>
              <span class="common-body-text-16-bold">Attract collaborators, customers, patrons:</span> People like to follow others when they see them doing interesting things. Building in public might attract (and have attracted) potential collaborators, customers or patrons for your project. As you talk about your progress in public, people see you as a doer + it builds credibility, which in turns gives them confidence to reach out for help, buy your product or just follow your social account for future updates. It's a win-win.
            </li>
            <li>
              <span class="common-body-text-16-bold">Multi-day marketing vs. a single launch:</span> The biggest problem with building in private is spending a ton of effort, money and other resources on the launch day i.e. to spread the word. Guess what, building in public helps you do that from day 1. Think of your project being launched everyday with every little update you share in public. So instead of a one-day mega-launch, it becomes a multi-day micro-launch. This way, more and more people will get to learn about your project rather than relying on one single day.
            </li>
          </ol>
        </div>
      </div>
      <div class="buildinginpublic-how section-break">
        <h3 class="common-section-header-h3">
          How I am going to make & publish this re-design project?
        </h3>
        <div class="common-body-text-16-regular">
          To start with, I want to stick with the concept of "incrementally correct personal website". I came across that concept from Brian's website who got the idea from Guillermo Rauch. The concept is basically "the process of iterating towards something more truthful, accurate, usable, or interesting. The faster we can iterate, the faster we can discover good ideas. Things aren't perfect today, but tomorrow things can be slightly closer to perfect."
          <p></p>
          Why you may ask? It's because designing and building a portfolio website is an iterative process and if I start tweaking stuff to perfection, I'll launch slowly. If I launch slowly, I'll document and talk about my project less, which starts taking the route of "building in private".
          <p></p>
          So, simple to-dos to make sure I stay on track in designing and building my portfolio website in public can be:
          <div class="common-body-text-16-regular">
            <ol class="common-body-text-list-all-bold">
              <li>
                <span class="common-body-text-16-bold">Break feature into smallest shippable items.</span>
              </li>
              <li>
                <span class="common-body-text-16-bold">Iterate small and ship faster.</span>
              </li>
              <li>
                <span class="common-body-text-16-bold">Document and publish what I am shipping.</span> (preferably on <a href="https://twitter.com/sankalpdomore" target="_blank">Twitter</a>)
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="buildinginpublic-how section-break">
        <h3 class="common-section-header-h3">
          What's next?
        </h3>
        <div class="common-body-text-16-regular">
          To keep things simple, I am going to post out a tweet about my current to-do tasks and every time I publish something new to the site. I am thinking to start embedding them as a visual log in a separate logs page, but to begin with, I'll start posting the links to the tweets here in this section.
          <p></p>
          You can always visit this section to see what's new have been pushed on the site, but the best way to follow my progress is to tag along the journey on Twitter. If you want to see someone build in public from scratch, consider following 🙂
          <p></p>
          <a href="https://twitter.com/sankalpdomore?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @sankalpdomore</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
