.accordion {
  margin-top: 40px;
  margin-bottom: 60px;
}

.building-in-public-accordion {
  background-color: var(--color-white-100);
  border-radius: 8px;
}

.accordion-button {
  font-family: "SS";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 20px 16px 24px;
  border-color: var(--color-grey-ddd);
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.accordion-body {
  padding: 28px;
  background-color: var(--color-light-paper);
}

.accordion-button:not(.collapsed) {
  color: var(--color-black-100);
  background-color: var(--color-white-100);
}

.buildinginpublic-what-next-bullets {
  font-family: "SS";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 8px;
  padding-left: 16px;
}

.buildinginpublic-what-next-bullets-icons {
  top: -2px;
  position: relative;
  padding-right: 8px;
}

.buildinginpublic-what-next-bullets-label {
  font-weight: 500;
  padding-right: 4px;
}

.embed-containers {
  background-color: var(--color-white-100);
  padding: 32px 20px;
  border: 1px solid var(--color-grey-ddd);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius-20px);
  margin-top: 48px;
}

.embed-containers-header {
  margin-top: 0px;
  margin-bottom: 4px;
  text-align: center;
}

.embed-containers-subheader {
  color: var(--color-grey-777);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
