<component-navigation-dark></component-navigation-dark>
<div class="container-fluid landing-intro-container">
    <div class="container-fluid landing-intro-container-content">
        <div class="row landing-intro-container-content-pusher">
            <div class="col-lg-5 col-md-5 col-sm-12 landing-intro-left">
                <img src="../assets/landing/sankalp-face.png" class="landing-intro-left-sankalp-face">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 landing-intro-right">
                <h1 class="landing-intro-right-sankalp-name">Sankalp Sinha</h1>
                <div class="container landing-intro-right-description">
                    <span class="landing-intro-right-line">----------</span>a multi-disciplinary entrepreneurial mindset Product Designer, passionately designing & building software from 0 <i class="fa-solid fa-right-long"></i> 1.
                </div>
                <div class="landing-intro-right-currently-label">
                    Quick intro
                </div>
                <div class="landing-intro-right-currently-container">
                    <div class="d-flex landing-intro-right-currently-container-items">
                        <div class="">
                            <img src="../assets/landing/emoji-home.png" alt="" class="landing-intro-right-currently-container-items-icons-1">
                        </div>
                        <div class="landing-intro-right-currently-container-items-text">
                            Product designer & maker for 10+ yrs
                        </div>
                    </div>
                    <div class="d-flex landing-intro-right-currently-container-items">
                        <div class="">
                            <img src="../assets/landing/emoji-art.png" alt="" class="landing-intro-right-currently-container-items-icon-2">
                        </div>
                        <div class="landing-intro-right-currently-container-items-text">
                            Currently, Leading Design @
                            <a href="http://goharbor.xyz" target="_blank" class="landing-intro-link">Harbor</a>
                        </div>
                    </div>
                    <div class="d-flex landing-intro-right-currently-container-items">
                        <div class="">
                            <img src="../assets/landing/emoji-money.png" alt="" class="landing-intro-right-currently-container-items-icons-3">
                        </div>
                        <div class="landing-intro-right-currently-container-items-text">
                            Making product bets with
                            <a href="http://visit.page" target="_blank" class="landing-intro-link">Visit.Page</a>
                            &
                            <a href="http://buildwithframer.com" target="_blank" class="landing-intro-link">BuildwithFramer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row landing-intro-publications-container">
            <div class="col-lg-12 landing-intro-works-featured-label">
                WORKS FEATURED IN
            </div>
            <div class="landing-intro-publications-logo-container">
                <img src="../assets/publications/logo-yahoo.png" alt="" class="landing-intro-publications-logo">
            </div>
            <div class="landing-intro-publications-logo-container">
                <img src="../assets/publications/logo-discovery-channel.png" alt="" class="landing-intro-publications-logo">
            </div>
            <div class="landing-intro-publications-logo-container">
                <img src="../assets/publications/logo-elite-daily.png" alt="" class="landing-intro-publications-logo">
            </div>
            <div class="landing-intro-publications-logo-container">
                <img src="../assets/publications/logo-mashable.png" alt="" class="landing-intro-publications-logo">
            </div>
            <div class="landing-intro-publications-logo-container">
                <img src="../assets/publications/logo-yankodesign.png" alt="" class="landing-intro-publications-logo">
            </div>
            <div class="landing-intro-publications-logo-container">
                <img src="../assets/publications/logo-bbc-radio.png" alt="" class="landing-intro-publications-logo">
            </div>
            <div class="landing-intro-publications-logo-container" style="margin-right: 0px;">
                <img src="../assets/publications/logo-huffpost.png" alt="" class="landing-intro-publications-logo">
            </div>
        </div>
    </div>
</div>