.testimonials-page-card-container-parent {
  background: linear-gradient(to bottom, #ffffff60, #ffffff00);
  display: inline-block;
  padding: 2px;
  border-radius: var(--border-radius-40px);
}

.testimonials-page-card-container-parent
  .testimonials-page-card-container-cards {
  background: var(--color-black-100);
  display: block;
  padding: 36px 48px;
  border-radius: var(--border-radius-40px);
}

.parent {
  background: linear-gradient(to right, #05fbff, #1e00ff);
  border-radius: 8px;
  color: #122dff;
  display: inline-block;
  font-size: 20px;
  padding: 1px;
  text-decoration: none;
}

.testimonials-page-card-container-cards {
  background: #fff;
  display: block;
  padding: 1em 3em;
  border-radius: 6px;
  /* padding: 36px 48px;
  border-radius: var(--border-radius-40px); */
}

.testimonials-page-card-container-cards-title {
  font-family: var(--font-family-header);
  font-size: 32px;
  font-weight: 800;
  letter-spacing: var(--font-family-header-letter-spacing);
  line-height: 42px;
  color: var(--color-white-100);
  text-align: left;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* All devices more than 1441px devices */
@media (min-width: 1441px) {
}

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
}

/* Only Medium devices (tablets) */
@media (min-width: 767px) and (max-width: 992px) {
}

/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 768px) {
}

/* Only Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 768px) {
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 575px) {
}

/* Only X-Small devices (portrait phones) but below 375px */
@media (min-width: 0px) and (max-width: 375px) {
}
