<div class="row testimonials-page-card-container">
    <div class="testimonials-page-card-container-parent col-lg-7 col-md-5 col-sm-5 col-12">
        <div class="testimonials-page-card-container-cards">
            <div class="testimonials-page-card-container-cards-title">
                A solid foundation of rational thought.
            </div>
            <div class="testimonials-page-card-container-cards-content">
                <p>
                    Sankalp is an incredibly talented designer as well as an intelligent, curious, and self-motivated individual. When tackling a design challenge, he puts extreme care into every interaction along the user journey. His aesthetic is simultaneously thoughtful and playful—and always centered around the user's needs.
                </p>
                <p>
                    He gracefully articulates his viewpoint—which always comes from a solid foundation of rational thought and customer-centricity. On top of all of this, he is a really nice guy and is downright fun to work with.
                </p>
                <p>
                    I would highly recommend anyone considering hiring or working with Sankalp to consider him. I would do the same in a heartbeat.
                </p>
            </div>
            <div class="d-flex testimonials-page-card-container-cards-author-info">
                <div class="testimonials-page-card-container-cards-author-info-image">
                    IMAGE
                </div>
                <div>
                    <div class="testimonials-page-card-container-cards-author-info-name">
                        Chuck Burt
                    </div>
                    <div class="testimonials-page-card-container-cards-author-info-role">
                        Product Management Leader
                    </div>
                    <div class="testimonials-page-card-container-cards-author-info-company">
                        @Embark Veterinary
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>