<div class="row testimonials-page-card-container">
    <!-- Chuck testimonial -->
    <div class="testimonials-page-card-container-padding first col-lg-7 col-md-7 col-sm-6 col-12">
        <div class="testimonials-page-card-container-parent">
            <div class="testimonials-page-card-container-cards">
                <div class="testimonials-page-card-container-cards-title">
                    A solid foundation of rational thought.
                </div>
                <div class="testimonials-page-card-container-cards-content">
                    <p>
                        Sankalp is an incredibly talented designer as well as an intelligent, curious, and self-motivated individual. When tackling a design challenge, he puts extreme care into every interaction along the user journey. His aesthetic is simultaneously thoughtful and playful—and always centered around the user's needs.
                    </p>
                    <p>
                        He gracefully articulates his viewpoint—which always comes from a solid foundation of rational thought and customer-centricity. On top of all of this, he is a really nice guy and is downright fun to work with.
                    </p>
                    <p>
                        I would highly recommend anyone considering hiring or working with Sankalp to consider him. I would do the same in a heartbeat.
                    </p>
                </div>
                <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                    <div class="">
                        <img src="../assets/testimonials/dp-chuck.png" class="testimonials-page-card-container-cards-author-info-image">
                    </div>
                    <div>
                        <div class="testimonials-page-card-container-cards-author-info-name">
                            Chuck Burt
                        </div>
                        <div class="testimonials-page-card-container-cards-author-info-role">
                            Product Management Leader
                        </div>
                        <div class="testimonials-page-card-container-cards-author-info-company">
                            @Embark Veterinary
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Akshar testimonial -->
    <div class="testimonials-page-card-container-padding second col-lg-5 col-md-5 col-sm-6 col-12">
        <div class=" testimonials-page-card-container-parent">
            <div class="testimonials-page-card-container-cards">
                <div class="testimonials-page-card-container-cards-title">
                    Believes in community growth.
                </div>
                <div class="testimonials-page-card-container-cards-content">
                    <p>
                        We have been working at Wingify for some quarters and collaborated on a couple of design projects. He had been the spearhead of this collab.
                    </p>
                    <p>
                        The one skill I could point out about Sankalp would be: believing in community growth. Sankalp shares every useful tool/resource he finds online. Open enough to have a debate over the latest design trends, or may it be philosophies.
                    </p>
                    <p>
                        "Fun, enthusiastic, and high on design trends" are the words that first come to my mind when I'd have to talk about Sankalp.
                    </p>
                </div>
                <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                    <div class="">
                        <img src="../assets/testimonials/dp-akshar.png" class="testimonials-page-card-container-cards-author-info-image">
                    </div>
                    <div>
                        <div class="testimonials-page-card-container-cards-author-info-name">
                            Akshar Patel
                        </div>
                        <div class="testimonials-page-card-container-cards-author-info-role">
                            Design Manager
                        </div>
                        <div class="testimonials-page-card-container-cards-author-info-company">
                            @Gojek.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------->
    <!-- Desktop visible -->
    <!--------------------->
    <div class="col-lg-5 col-md-6 col-sm-6 col-12 d-none d-sm-block">
        <!-- Varun testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Actively seeks feedback.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a passionate designer who has done some great work while at Wingify.
                        </p>
                        <p>
                            Having worked with him on & off for over 3 years, I can gladly attest that he is deeply motivated to find the most fitting solution to any design challenge.
                        </p>
                        <p>
                            He is iterative in his process and actively seeks feedback. Sankalp will be a valued addition to any team that he chooses to join.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-varun.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Varun Mohapatra
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Group Design Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Wingify.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ma testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Best. Human. Ever.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is THE best. He has a golden heart. He’s very kind and humble. He’s very very very funny - hahaha!!!
                        </p>
                        <p>
                            Anyone who’s looking to hire Sankalp, should do it and pay him top $$$$$$$.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-mother.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Swapna Sinha
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Mother
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Sinha family
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-6 col-12 d-none d-sm-block">
        <!-- Aaron testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A talented designer with strong empathy for users.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a talented designer with strong empathy for users. While we built Cohoot together, he displayed a knack for grasping vague, high-level business requirements and turning them into tangible designs and user flows with little or no direction.
                        </p>
                        <p>
                            I was particularly impressed with his open-mindedness when it came to receiving and incorporating non-designers feedback. Sankalp is often inciting laughter within the team, whether in-person or on a video call. He's fun to work with!
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-aaron.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Aaron Burnett
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                CEO / Community & Marketing Expert
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Spaced Ventures
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Amit testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A team player with a distinct bias for self improvement.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a passionate designer who doesn't shy away from voicing his opinions and who is always willing to have a detailed discussion around design and its applications.
                        </p>
                        <p>
                            His extracurricular pursuits in the form of his side projects help bring him a unique perspective to whatever project he’s working on.
                        </p>
                        <p>
                            A team player with a distinct bias for self-improvement, he is a valuable addition to any team.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-amit.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Amit Ghasghase
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Ex-Product Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Wingify.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------->
    <!-- Mobile visible --->
    <!--------------------->
    <div class="col-lg-5 col-md-5 col-sm-6 col-12 d-block d-sm-none">
        <!-- Aaron testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A talented designer with strong empathy for users.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a talented designer with strong empathy for users. While we built Cohoot together, he displayed a knack for grasping vague, high-level business requirements and turning them into tangible designs and user flows with little or no direction.
                        </p>
                        <p>
                            I was particularly impressed with his open-mindedness when it came to receiving and incorporating non-designers feedback. Sankalp is often inciting laughter within the team, whether in-person or on a video call. He's fun to work with!
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-aaron.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Aaron Burnett
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                CEO / Community & Marketing Expert
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Spaced Ventures
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Amit testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        A team player with a distinct bias for self improvement.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a passionate designer who doesn't shy away from voicing his opinions and who is always willing to have a detailed discussion around design and its applications.
                        </p>
                        <p>
                            His extracurricular pursuits in the form of his side projects help bring him a unique perspective to whatever project he’s working on.
                        </p>
                        <p>
                            A team player with a distinct bias for self-improvement, he is a valuable addition to any team.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-amit.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Amit Ghasghase
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Ex-Product Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Wingify.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-12 d-block d-sm-none">
        <!-- Varun testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Actively seeks feedback.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is a passionate designer who has done some great work while at Wingify.
                        </p>
                        <p>
                            Having worked with him on & off for over 3 years, I can gladly attest that he is deeply motivated to find the most fitting solution to any design challenge.
                        </p>
                        <p>
                            He is iterative in his process and actively seeks feedback. Sankalp will be a valued addition to any team that he chooses to join.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-varun.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Varun Mohapatra
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Group Design Manager
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Wingify.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ma testimonial -->
        <div class="testimonials-page-card-container-padding col-12">
            <div class=" testimonials-page-card-container-parent">
                <div class="testimonials-page-card-container-cards">
                    <div class="testimonials-page-card-container-cards-title">
                        Best. Human. Ever.
                    </div>
                    <div class="testimonials-page-card-container-cards-content">
                        <p>
                            Sankalp is THE best. He has a golden heart. He’s very kind and humble. He’s very very very funny - hahaha!!! Anyone who’s looking to hire Sankalp, should do it and pay him top $$$$$$$.
                        </p>
                    </div>
                    <div class="d-flex testimonials-page-card-container-cards-author-info align-items-center">
                        <div class="">
                            <img src="../assets/testimonials/dp-mother.png" class="testimonials-page-card-container-cards-author-info-image">
                        </div>
                        <div>
                            <div class="testimonials-page-card-container-cards-author-info-name">
                                Swapna Sinha
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-role">
                                Mother
                            </div>
                            <div class="testimonials-page-card-container-cards-author-info-company">
                                @Sinha family
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>