/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: SS;
  src: url(./assets/fonts/3SlateForOnePlus-Book-300.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: SS;
  src: url(./assets/fonts/4SlateForOnePlus-Regular-400.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SS;
  src: url(./assets/fonts/5SlateForOnePlus-Medium-500.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: SS;
  src: url(./assets/fonts/6SlateForOnePlus-Bold-600.ttf) format("truetype");
  font-weight: 600;
}

body,
div {
  font-family: SS;
  font-size: 18px;
  color: #555;
}

.links-muted {
  color: #000;
}

.common-page-container {
  padding: 70px 0px;
  background: #f7f6f3;
}

.content-container {
  max-width: 800px;
  padding: 0px !important;
}

.common-page-header-h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 50px;
  color: #000000;
  text-align: center;
  margin: 80px auto;
}

.common-section-header-h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-align: left;
  margin: 10px auto;
}

.common-body-text-18-bold {
  font-family: SS;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: left;
  margin: 30px auto 8px;
}

.common-body-text-16-bold {
  font-family: SS;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: left;
}

.common-body-text-16-regular {
  font-family: SS;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: left;
}

.common-img-container-parent {
  text-align: center;
  margin: 45px auto 40px;
}

.common-img-container-child {
  height: 400px;
}

.common-img-container-img {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.common-img-container-img-label {
  font-family: SS;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
  color: #777;
  margin: 10px auto;
}

.common-body-text-list {
  margin-top: 20px;
}

.common-body-text-list > li {
  margin-bottom: 20px;
}

.common-body-text-list-all-bold {
  margin-top: 20px;
}

.common-body-text-list-all-bold > li {
  margin-bottom: 5px;
}

li > .common-body-text-16-bold {
  padding-right: 5px;
}

.qouting {
  font-family: SS;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  display: -webkit-box;
  border-left: 5px solid #ccc;
  padding: 15px 20px 15px 20px;
  margin: 20px 0px 25px 0px;
  background: rgba(0, 0, 0, 0.04);
}

/* Spacers */

.section-break {
  margin: 60px auto;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* Medium-to-Xsmall devices (0px-992px) */
@media (min-width: 0px) and (max-width: 991px) {
  .common-page-container {
    padding: 120px 20px !important;
  }
  .common-page-header-h1 {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 50px;
  }
  .common-section-header-h3 {
    font-size: 22px;
    line-height: 30px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767px) and (max-width: 992px) {
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575px) and (max-width: 768px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 0px) and (max-width: 576px) {
}
