/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");
@import url("./assets/font-awesome/css/all.css");

@font-face {
  /* Thin */
  font-family: "SS";
  src: url(./assets/fonts/3SlateForOnePlus-Book-300.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  /* Regular */
  font-family: "SS";
  src: url(./assets/fonts/4SlateForOnePlus-Regular-400.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  /* Medium */
  font-family: "SS";
  src: url(./assets/fonts/5SlateForOnePlus-Medium-500.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  /* Bold */
  font-family: "SS";
  src: url(./assets/fonts/6SlateForOnePlus-Bold-600.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  /* Extra-Bold */
  font-family: "SS";
  src: url(./assets/fonts/7SlateForOnePlus-ExtraBold-700.ttf) format("truetype");
  font-weight: 700;
}

:root {
  --color-white-100: #ffffff;
  --color-light-paper: #f7f6f3;
  --color-figma-back: #e5e5e5;
  --color-grey-ddd: #dddddd;
  --color-grey-ccc: #cccccc;
  --color-grey-aaa: #aaaaaa;
  --color-grey-999: #999999;
  --color-grey-888: #888888;
  --color-grey-777: #777777;
  --color-grey-666: #666666;
  --color-grey-555: #555555;
  --color-grey-444: #444444;
  --color-grey-333: #333333;
  --color-grey-222: #222222;
  --color-black-100: #000000;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black-04: rgba(0, 0, 0, 0.04);
  --color-link-blue-default: hsla(214, 84%, 56%, 100%);
  --color-success-green-default: hsla(89, 100%, 30%, 100%);
  --color-dark-background: #000000;
  --color-dark-nav-background: #222222cc;
  --color-dark-nav-button-text-default: #777777;
  --color-dark-nav-button-text-hover: #ffffff;
  --color-dark-nav-button-back-hover: rgba(0, 0, 0, 0.4);
  --color-dark-nav-button-text-active: #ffffff;
  --color-dark-nav-button-back-active: rgba(0, 0, 0, 1);
  --color-light-background: #f7f6f3;
  --color-light-nav-background: #ffffffcc;
  --color-light-nav-button-text-default: #555555;
  --color-light-nav-button-text-hover: #000000;
  --color-light-nav-button-back-hover: rgba(0, 0, 0, 0.04);
  --color-light-nav-button-text-active: #000000;
  --color-light-nav-button-back-active: rgba(0, 0, 0, 0.12);
  --box-shadow-light-card-small: 0px 4px 10px rgba(0, 0, 0, 0.04);
  --box-shadow-light-card-medium: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-light-nav: 0px 4px 4px rgba(0, 0, 0, 0.05);
  --border-radius-8px: 8px;
  --border-radius-12px: 12px;
  --border-radius-20px: 20px;
  --border-radius-28px: 28px;
  --border-radius-infinite: 100px;
  --font-family-body: "SS";
  --font-family-header: "Work Sans", sans-serif;
  --font-family-nav: "Work Sans", sans-serif;
  --font-family-header-letter-spacing: -0.4px;
}

body,
div {
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
p {
  margin-bottom: 26px !important;
}

* {
  scroll-behavior: smooth !important;
}

.links-muted {
  color: var(--color-black-100);
}

.link-remove-underline {
  text-decoration: none;
}

.common-page-container {
  padding: 0px 0px 120px 0px;
  background: var(--color-light-paper);
}

.content-container {
  max-width: 1000px;
  padding: 0px !important;
}

.common-page-header-h1 {
  font-family: var(--font-family-header);
  font-weight: 800;
  font-size: 42px;
  letter-spacing: var(--font-family-header-letter-spacing);
  line-height: 50px;
  color: var(--color-black-100);
  text-align: center;
  padding: 80px 0px;
  margin-bottom: 0px;
}

.with-subheader {
  padding-bottom: 16px;
}

.common-page-sub-header {
  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-666);
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.common-section-header-h3 {
  font-family: var(--font-family-header);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: var(--font-family-header-letter-spacing);
  line-height: 36px;
  color: var(--color-black-100);
  text-align: left;
  margin: 8px auto;
}

.common-body-text-18-bold {
  font-family: var(--font-family-body);
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-black-100);
  text-align: left;
  margin: 28px auto 8px;
}

.common-body-text-16-bold {
  font-family: var(--font-family-body);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black-100);
  text-align: left;
}

.common-body-text-16-regular {
  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black-100);
  text-align: left;
}

.common-img-container-parent {
  text-align: center;
  margin: 45px auto 40px;
}

.common-img-container-child {
  height: 400px;
}

.common-img-container-img {
  height: 100%;
  border: 1px solid var(--color-black-30);
  border-radius: 8px;
}

.common-img-container-img-label {
  font-family: var(--font-family-body);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
  color: var(--color-grey-777);
  margin: 10px auto;
}

.common-body-text-list {
  margin-top: 20px;
}

.common-body-text-list > li {
  margin-bottom: 20px;
}

.common-body-text-list-all-bold {
  margin-top: 20px;
}

.common-body-text-list-all-bold > li {
  margin-bottom: 5px;
}

li > .common-body-text-16-bold {
  padding-right: 5px;
}

.qouting {
  font-family: var(--font-family-body);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  display: -webkit-box;
  border-left: 5px solid var(--color-grey-ccc);
  padding: 15px 20px 15px 20px;
  margin: 20px 0px 25px 0px;
  background: var(--color-black-004);
}

.see-more-link {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--color-link-blue-default);
  border: 2px solid var(--color-link-blue-default);
  border-radius: var(--border-radius-8px);
  margin-top: 12px;
  padding: 8px 16px;
  cursor: pointer;
}

.see-more-link:hover {
  color: var(--color-white-100);
  background-color: var(--color-link-blue-default);
  border: 2px solid var(--color-link-blue-default);
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Spacers */

.section-break {
  margin: 60px auto;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* All devices more than 1441px devices */
@media (min-width: 1441px) {
  .content-container {
    max-width: 1000px;
  }
}

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
  .common-page-container {
    padding: 0px 20px 40px 20px !important;
  }

  .common-page-header-h1 {
    font-size: 34px;
    line-height: 42px;
    padding: 48px 0px 40px 0px;
  }

  .with-subheader {
    padding-bottom: 12px;
  }

  .common-page-sub-header {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-grey-666);
    margin-bottom: 42px;
  }

  .common-section-header-h3 {
    font-size: 22px;
    line-height: 28px;
  }

  .common-img-container-parent {
    margin: 40px auto;
  }

  .common-img-container-child {
    height: auto;
    padding: 0px 0px !important;
  }

  .common-img-container-img {
    width: 100%;
    height: auto;
  }

  .qouting {
    line-height: 26px;
  }
}

/* Only Medium devices (tablets) */
@media (min-width: 767px) and (max-width: 992px) {
}
/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 768px) {
}
/* Only Small devices (landscape phones) */
@media (min-width: 577px) and (max-width: 768px) {
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 576px) {
  .common-page-sub-header {
    line-height: 18px;
  }
}
