.landing-intro-container {
  padding: 50px 50px;
  padding-bottom: 60px;
  height: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(114.32deg, #ff6b00 0%, #f7a300 100%);
  /* background: #F4E9D8; */
}

.landing-intro-container-content {
  width: 100%;
  padding: 110px 70px 70px 70px;
  height: auto;
  background: #000000;
  border-radius: 30px;
  max-width: 1360px;
}

.landing-intro-left-sankalp-face {
  width: 400px;
  margin: auto;
  display: block;
}

.landing-intro-right-sankalp-name {
  width: 440px;
  margin-top: 20px;
}

.landing-intro-right-line {
  letter-spacing: -2px;
  margin-right: 20px;
}

.landing-intro-right-description {
  font-family: SS;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  color: #666666;
  padding: 0px;
  padding-top: 35px;
}

.landing-intro-right-currently-label {
  font-family: SS;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #444444;
  margin-top: 60px;
}

.landing-intro-right-currently-container {
  padding-top: 12px;
  margin-left: 2px;
  padding-bottom: 12px;
}

.landing-intro-right-currently-container-items-icons {
  width: 18px;
  margin-right: 10px;
}

.landing-intro-SC-link {
  color: #666666;
  text-decoration: none;
}

.landing-intro-SC-link:hover {
  text-decoration: underline;
}

.landing-intro-right-currently-container-items {
  font-family: SS;
  font-weight: 600;
  font-size: 18px;
  color: #666666;
  margin-bottom: 10px;
}

.blobs-container {
  display: inline-flex;
  position: relative;
  top: -1px;
}

.blob {
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 12px;
  height: 8px;
  width: 8px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.green {
  background: rgba(103, 198, 0, 0.7);
  box-shadow: 0 0 0 0 rgba(103, 198, 0, 0.7);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(103, 198, 0, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(103, 198, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(103, 198, 0, 0);
  }
}

.landing-intro-right-currently-new-role {
  font-size: 16px;
  font-weight: 500;
  width: max-content;
  text-align: center;
  cursor: pointer;
  padding: 10px 18px;
  background: transparent;
  color: rgba(103, 198, 0, 0.7);
  border-radius: 100px;
  border: 2px solid rgba(103, 198, 0, 0.7);
  text-shadow: 0px 1px 1px #000000;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.landing-intro-right-currently-new-role:hover {
  background: rgba(103, 198, 0, 0.2);
  color: rgba(103, 198, 0, 1);
  border: 2px solid rgba(103, 198, 0, 1);
}

.landing-intro-right-currently-new-role:hover .blob.green {
  background: rgba(103, 198, 0, 1);
  box-shadow: 0 0 0 0 rgba(103, 198, 0, 1);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.landing-intro-right-currently-new-role:active {
  background: rgba(103, 198, 0, 0.1);
  color: rgba(103, 198, 0, 1);
  border: 2px solid rgba(103, 198, 0, 1);
}

.landing-intro-publications-container {
  display: table;
  margin: auto;
  margin-top: 90px;
}

.landing-intro-works-featured-label {
  font-family: SS;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #444444;
  margin-bottom: 22px;
  text-align: left;
}

.landing-intro-publications-logo-container {
  text-align: center;
  display: inline;
  margin-right: 20px;
}

.landing-intro-publications-logo {
  height: 40px;
  margin-bottom: 25px;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991px) and (max-width: 1200px) {
  .landing-intro-left-sankalp-face {
    margin: initial;
    width: 340px;
  }
  .landing-intro-right-sankalp-name {
    width: 340px;
  }
}

/* Medium-to-Xsmall devices (0px-992px) */
@media (min-width: 0px) and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  .landing-intro-container {
    padding: 40px 15px 20px 15px;
  }
  .landing-intro-container-content {
    padding: 70px 40px 40px 40px;
  }
  /* .landing-intro-left, .landing-intro-right {
    padding-left: 0px;
  } */
  .landing-intro-left-sankalp-face {
    margin: initial;
    width: 320px;
  }
  .landing-intro-right-sankalp-name {
    width: 320px;
  }
  .landing-intro-right-currently-container-items {
    line-height: 24px;
    margin-bottom: 12px;
  }
  .landing-intro-works-featured-label {
    padding-left: 0px;
  }
  .landing-intro-publications-container {
    margin-top: 40px;
  }
  .landing-intro-publications-logo-container {
    padding-left: 0px;
    padding-right: 20px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767px) and (max-width: 992px) {
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575px) and (max-width: 768px) {
}
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 0px) and (max-width: 576px) {
}
/* X-Small devices (portrait phones, less than 454px) */
@media (min-width: 0px) and (max-width: 454px) {
  .landing-intro-container-content {
    padding: 70px 20px 20px 40px;
  }
  .landing-intro-left-sankalp-face {
    width: 95%;
  }
  .landing-intro-right-sankalp-name {
    width: 95%;
  }
  .landing-intro-right-description {
    font-size: 20px;
    line-height: 28px;
  }
  .landing-intro-publications-logo-container {
    margin-right: 10px;
  }
  .landing-intro-publications-logo {
    height: 30px;
  }
}
