.landing-intro-container {
  height: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 0px;
  background: #000000;
  margin-bottom: 1000px;
}

.landing-intro-container-content {
  width: 100%;
  padding: 140px 80px 80px 80px;
  height: auto;
  max-width: 1360px;
}

.landing-intro-container-content-pusher {
  padding-left: 60px;
}

.landing-intro-left-sankalp-face {
  width: 340px;
  margin: auto;
  display: block;
}

.landing-intro-right {
  padding-left: 80px;
  padding-top: 8px;
  padding-right: 40px;
}

.landing-intro-right-sankalp-name {
  font-family: "SS";
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

.landing-intro-right-line {
  font-family: "SS";
  font-size: 20px;
  line-height: 0px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-right: 16px;
}

.landing-intro-right-description {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #999999;
  padding: 0px;
  padding-top: 16px;
  margin-left: 0px;
}

.landing-intro-right-currently-label {
  font-family: "SS";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #555555;
  margin-top: 40px;
}

.landing-intro-right-currently-container {
  padding-top: 12px;
  margin-left: 2px;
  padding-bottom: 44px;
}

.landing-intro-right-currently-container-items {
  margin-bottom: 8px;
}

.landing-intro-right-currently-container-items-icon-job {
  width: 18px;
  margin-right: 12px;
  margin-top: -3px;
}

.landing-intro-right-currently-container-items-icons-location {
  width: 18px;
  margin-right: 12px;
  margin-top: -6px;
}

.landing-intro-right-currently-container-items-text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #999999;
}

.bd-highlight,
.p-2 {
  background-color: transparent;
  padding: 0px !important;
}

.landing-intro-SC-link {
  color: #999999;
  text-decoration: none;
}

.landing-intro-SC-link:hover {
  text-decoration: underline;
}

.landing-intro-right-currently-new-role {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  width: 328px;
  text-align: center;
  cursor: pointer;
  padding: 12px 28px;
  background: #509900;
  color: #ffffff;
  border-radius: 100px;
  border: 2px solid #509900;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.blobs-container {
  display: inline-flex;
  position: relative;
  top: -3px;
}

.blob {
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 16px;
  height: 8px;
  width: 8px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.green {
  background: #ffffff;
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); */
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(132, 255, 0, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(132, 255, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(132, 255, 0, 0);
  }
}

.landing-intro-right-currently-new-role:hover {
  background: rgba(103, 198, 0, 0.2);
  color: rgba(103, 198, 0, 1);
  border: 2px solid rgba(103, 198, 0, 1);
}

.landing-intro-right-currently-new-role:hover .blob.green {
  background: rgba(103, 198, 0, 1);
  box-shadow: 0 0 0 0 rgba(103, 198, 0, 1);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.landing-intro-right-currently-new-role:active {
  background: rgba(103, 198, 0, 0.1);
  color: rgba(103, 198, 0, 1);
  border: 2px solid rgba(103, 198, 0, 1);
}

.landing-intro-works-featured-label {
  font-family: SS;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #555555;
  text-align: left;
  padding-left: 0px;
  margin-bottom: 24px;
  margin-top: 104px;
}

.landing-intro-publications-container {
  display: table;
  margin: auto;
}

.landing-intro-publications-logo-container {
  text-align: center;
  display: inline;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 60px;
}

.landing-intro-publications-logo {
  height: 40px;
  margin-bottom: 24px;
}

/*////////////////////////*/
/*//// Media queries /////*/
/*////////////////////////*/

/* Between Extra-Large and large devices (large desktops, large tablets) */
@media (min-width: 1199px) and (max-width: 1400px) {
}

/* Between Large and Medium devices (desktops, tablets) */
@media (min-width: 991px) and (max-width: 1200px) {
  .landing-intro-container-content {
    padding: 148px 60px 80px 60px;
  }

  .landing-intro-container-content-pusher {
    padding-left: 0px;
  }

  .landing-intro-right {
    padding-right: 20px;
  }

  .landing-intro-publications-logo-container {
    margin-right: 44px;
  }

  .landing-intro-publications-logo {
    height: 36px;
  }
}

/* All devices less than Medium devices */
@media (min-width: 0px) and (max-width: 991px) {
  .landing-intro-container-content {
    padding: 148px 60px 80px 60px;
  }

  .landing-intro-container-content-pusher {
    padding-left: 0px;
  }

  .landing-intro-left-sankalp-face {
    width: 280px;
    display: inline;
  }

  .landing-intro-right {
    padding-left: 48px;
    padding-right: 0px;
  }

  .landing-intro-right-sankalp-name {
    font-size: 44px;
  }

  .landing-intro-right-description {
    padding-top: 12px;
  }

  .landing-intro-works-featured-label {
    margin-top: 84px;
  }

  .landing-intro-publications-logo-container {
    margin-right: 44px;
  }

  .landing-intro-publications-logo {
    height: 36px;
  }
}

/* Only Medium devices (tablets) */
@media (min-width: 767px) and (max-width: 992px) {
}
/* All devices less than Small devices (tablets, landscape phones, potrait small phones) */
@media (min-width: 0px) and (max-width: 767px) {
  .landing-intro-container-content {
    padding: 100px 20px 40px 20px;
  }

  .landing-intro-left-sankalp-face {
    width: 220px;
  }

  .landing-intro-right {
    padding-left: 0px;
    padding-top: 16px;
  }

  .landing-intro-container-content-pusher {
    padding-left: calc(var(--bs-gutter-x) / 2);
  }

  .landing-intro-publications-logo-container {
    margin-right: 32px;
  }

  .landing-intro-publications-logo {
    height: 32px;
  }
}
/* Only Small devices (landscape phones) */
@media (min-width: 577px) and (max-width: 768px) {
}

/* Only X-Small devices (portrait phones) */
@media (min-width: 0px) and (max-width: 576px) {
}
